{% comment %}
  Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}
{% capture collections_product %}
 {% for collection in product.collections%}
 {{ colection }}
 {% endfor %}
{% endcapture %}



{% if settings.display_breadcrumb %}

{% unless template == 'index' %}
<div class="breadcrumb">
  <div class="bread-crumb">
    <a href="/" data-translate="general.breadcrumbs.home">{{ 'general.breadcrumbs.home' | t }}</a></div>  
  {% if template contains 'product' %} 
  {% assign productCollections = product.collections | map:'handle' %}
  {% if productCollections contains "skincare" %}
  <span class="arrow">
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    </span>
   <a href="/collections/skincare">Skincare</a>
  {% elsif productCollections contains "haircare" %}
  <span class="arrow">
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    </span>
   <a href="/collections/haircare">Haircare</a>
  {% elsif productCollections contains "makeup" %}
  <span class="arrow">
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    </span>
   <a href="/collections/makeup">Makeup</a>
  {% elsif productCollections contains "bodycare" %}
  <span class="arrow">
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    </span>
   <a href="/collections/bodycare">Bodycare</a>
  {% elsif productCollections contains "phy-x-plum" %}
  <span class="arrow">
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    </span>
   <a href="/pages/phy">phy</a>
  {% endif %}
    <span class="arrow">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
  	</span>
  	{% if settings.enable_multilang %}
    <span>{{ product.title }}</span>
  	{% else %}
  	<span>{{ product.title }}</span>
    {% endif %}
  
  {% elsif template contains 'collection' and collection.handle %}
    {% if current_tags %}
      <span class="arrow">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </span>
  
      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
	  <span class="bd-title">
        {% if settings.enable_multilang %}
        <span>{{ collection.title | link_to: url }}</span>
         {% else %}
        <span>{{ collection.title | link_to: url }}</span>
        {% endif %}

        <span class="arrow">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </span>
        
        {% assign bd_tags = current_tags | join: " + " %}
        {% if settings.enable_multilang %}
        <span>{{ bd_tags }}</span>
        {% else %}
        <span>{{ bd_tags }}</span>
        {% endif %}
	  </span>
  
    {% else %}
  
      <span class="arrow">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </span>
  
      <span class="bd-title">
        {% if settings.enable_multilang %}
        <span>{{ collection.title | link_to: url }}</span>
        {% else %}
        <span>{{ collection.title | link_to: url }}</span>
        {% endif %}
  	  </span>

  	{% endif %}
  
  {% elsif template == 'cart' %}
  	<span class="arrow">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </span> 	
    <span {% if settings.enable_multilang %}data-translate="general.breadcrumbs.cart"{% endif %}>{{ 'general.breadcrumbs.cart' | t }}</span>
  
  {% elsif template == 'article' %}

    <span class="arrow">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </span> 
  
  	{% if settings.enable_multilang %}
    <span>{{ blog.title | link_to: blog.url }}</span>
  	{% else %}
  	<span>{{ blog.title | link_to: blog.url }}</span>
    {% endif %}
  
    <span class="arrow">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </span>
  
  	{% if settings.enable_multilang %}
    <span>{{ article.title }}</span>
  	{% else %}
  	<span>{{ article.title }}</span>
    {% endif %}

  {% elsif template contains 'page' %}

    <span class="arrow">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </span>
  
  	{% if settings.enable_multilang %}
    <span>{{ page.title }}</span>
  	{% else %}
  	<span>{{ page.title }}</span>
    {% endif %}

  {% else %}
    <span class="arrow">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </span>
  
  	{% if settings.enable_multilang %}
    <span >{{ page_title }}</span>
  	{% else %}
  	<span>{{ page_title }}</span>
    {% endif %}
  {% endif %}
</div>
{% endunless %}
{% endif %}
<script type="application/ld+json">
    {%- if template.name == 'product' -%}
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "{{ 'general.breadcrumbs.home' | t }}",
        "item": "{{ shop.url }}"
      },
      {% if productCollections contains "skincare" %}
          {
            "@type": "ListItem",
            "position": 2,
            "name": "Skincare",
            "item": "{{ shop.url }}/collections/skincare"          
          }, 
      {% elsif productCollections contains "haircare" %}
      {
            "@type": "ListItem",
            "position": 2,
            "name": "Haircare",
            "item": "{{ shop.url }}/collections/haircare"
          
          },
      {% elsif productCollections contains "makeup" %}
      {
            "@type": "ListItem",
            "position": 2,
            "name": "Makeup",
            "item": "{{ shop.url }}/collections/makeup"
          
          },
      {% elsif productCollections contains "bodycare" %}
      {
            "@type": "ListItem",
            "position": 2,
            "name": "Bodycare",
            "item": "{{ shop.url }}/collections/bodycare"
          
          },
      {% elsif productCollections contains "phy-x-plum" %}
      {
            "@type": "ListItem",
            "position": 2,
            "name": "PHY x Plum",
            "item": "{{ shop.url }}/collections/phy-x-plum"
          
          },
      {% endif %}
      {
        "@type": "ListItem",
        "position": 3,
        "name": "{{ product.title  }}",
        "item": "{{ shop.url }}{{ product.url }}"
      }]
    }
    {%- elsif template.name == 'collection' -%}
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "{{ 'general.breadcrumbs.home' | t }}",
          "item": "{{ shop.url }}"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "{{ collection.title  }}"
      
      }
     ]
    }
      {%- elsif template.name == 'page' -%}

    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "{{ 'general.breadcrumbs.home' | t }}",
        "item": "{{ shop.url }}"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "{{ page.title  }}"
      
      }
     ]
    }
       {%- elsif template.name == 'blog' -%}
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "{{ 'general.breadcrumbs.home' | t }}",
        "item": "{{ shop.url }}"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "{{ blog.title  }}"
      
      }
     ]
    }
     {%- elsif template.name == 'article' -%}


    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "{{ 'general.breadcrumbs.home' | t }}",
        "item": "{{ shop.url }}"
      },   {
        "@type": "ListItem",
        "position": 2,
        "name": "{{ blog.title  }}",
        "item": "{{ shop.url }}{{ blog.url  }}"
      
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "{{ article.title  }}"
      
      }
     ]
    }
    {%- endif -%}
</script>
