{% if section.settings.display_crg_image %}
  <div class="icon-upper-row visible_desktop fw-section"><div class="row image_section container-padd60">
    <div class="image_section">
     {% if section.settings.image_product != blank %}
      <img class="lazyload"  data-src="{{ section.settings.image_product | img_url: 'master'}}" src="{{ section.settings.image_product | img_url: 'master'}}" alt="clean real good" data-sizes="auto">
        {% else %}
      <img class="lazyload"  data-src="{{ section.settings.image_product_svg }}"  src="{{ section.settings.image_product_svg }}" alt="clean real good" data-sizes="auto">
      {% endif %}
    </div>
  </div></div>
{% endif %}
{% if section.settings.display_crg_image %}
  <div class="icon-upper-row visible_mobile" style="display:none;"><div class="row image_section container-padd60">
    <div class="image_section">
       {% if section.settings.image_product_mob != blank %}
      <img class="lazyload"  data-src="{{ section.settings.image_product_mob | img_url: 'master'}}" src="{{ section.settings.image_product_mob | img_url: 'master'}}" alt="clean real good" data-sizes="auto">
        {% else %}
      <img class="lazyload"  data-src="{{ section.settings.image_product_mob_svg }}" src="{{ section.settings.image_product_mob_svg }}" alt="clean real good" data-sizes="auto">
      {% endif %}
    </div>
  </div></div>
{% endif %}