{% assign show_custom_tab = false %}
{% if section.settings.display_custom_tab %}
{% if section.settings.custom_tab_type == 'all' %}
{% assign show_custom_tab = true %}
{% elsif product.description contains '[custom tab]' %}
{% assign show_custom_tab = true %}
{% endif %}
{% endif %}

{% if section.settings.display_product_detail_description or  section.settings.display_goodness_inside or section.settings.display_how_to_use or show_custom_tab %}
<div class="tabs__product-page horizontal-tabs{% if section.settings.show_tab == 'horizontal_center' %} horizontal-tabs-center{% endif %} container-padd60 fw-section">
  {% if section.settings.display_product_detail_description == false and section.settings.display_goodness_inside == true %}
  {% assign tab2_active = true %}
  {% elsif section.settings.display_product_detail_description == false and section.settings.display_goodness_inside == false %}
  {% assign tab3_active = true %}
  {% elsif section.settings.display_product_detail_description == false and section.settings.display_goodness_inside == false and section.settings.display_how_to_use == false %}
  {% assign tab4_active = true %}
  {% endif %}
  
  <ul class="list-tabs">
    {% if section.settings.display_product_detail_description %}
    <li class="tab-title">
      <a href="#" data-tapTop data-target="#collapse-tab1" class="tab-links active">
        {% include 'multilang' with section.settings.product_description_title %}
      </a>
    </li>
    {% endif %}

    {% if section.settings.display_goodness_inside %}
    <li class="tab-title">
      <a href="#" data-tapTop data-target="#collapse-tab2" class="tab-links {% if tab2_active%}active{% endif %}">
        {% include 'multilang' with section.settings.product_goodness_title %}
      </a>
    </li>
    {% endif %}

    {% if section.settings.display_how_to_use %}
    <li class="tab-title">
      <a href="#" data-tapTop data-target="#collapse-tab3" class="tab-links {% if tab3_active%}active{% endif %}">
        {% include 'multilang' with section.settings.how_to_use_title %}
      </a>
    </li>
    {% endif %}
  </ul>

  <div class="wrapper-tab-content">
    {% if section.settings.display_product_detail_description %}

    {% assign des = product.description %}
    {% if des contains '[countdown]' or product.description contains '[custom tab]' %}
    {% assign des = product.description | split:'[/countdown]</p>' | last %}
    {% assign des = des | split:'[custom tab]' | first | split:'<iframe' | first %}
    {% endif %}

    <div class="tab-title">
      <a href="#" data-tapTop data-target="#collapse-tab1" class="tab-links">
        {% include 'multilang' with section.settings.product_description_title %}
        <span class="icon-dropdown">
          <i class="fa fa-angle-down"></i>
        </span>
      </a>
    </div>

    <div class="tab-content active" data-TabContent id="collapse-tab1">
        <div class="parduct-page__horizontal-description">
          <div class="inside_tab flex-display">
            <div class="product-full-description">
              <div class="description-wrapper">
                {{ product.description }}
              </div>
            </div>
            <div class="product-benefit">
              <div class="benefit-wrapper">
                {% for tag in product.tags %}
                {% if tag contains "bn_" %}
                {% assign benefitText = tag | split:"bn_" | last |replace:"_"," "| capitalize %}
                {% assign benefitIcon = tag | handle %}
                {% assign iconWithExtension = benefitIcon | replace:"-","_" | append:".png" %}
                {% if product.handle == 'eye-swear-deep-black-kohl-kajal'%}
                {% if iconWithExtension == 'bn_smudge_proof.png'%}
                <div class="benefit-unit">
                  <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/bn_smudge_proof_84f82018-1f8e-4509-9ad7-f537de272c53.png?v=1632381650" class="benefit-icon">
                  <p class="benefit-title">{{ benefitText }}</p>                 
                </div> 
                {% else %}
                 <div class="benefit-unit">
                  <img src="{{ iconWithExtension | file_url }}" class="benefit-icon">
                  <p class="benefit-title">{{ benefitText }}</p>                 
                </div> 
                {% endif %}
                {% else %}
                 <div class="benefit-unit">
                  <img src="{{ iconWithExtension | file_url }}" class="benefit-icon">
                  <p class="benefit-title">{{ benefitText }}</p>                 
                </div> 
                {% endif %} 
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>

          <div>
          </div>
        </div>
    </div>
    {% endif %}

    {% if section.settings.display_goodness_inside %}
    <div class="tab-title">
      <a href="#" data-tapTop data-target="#collapse-tab2" class="tab-links {% if tab2_active%}active{% endif %}">
        {% include 'multilang' with section.settings.product_goodness_title %}
        <span class="icon-dropdown">
          <i class="fa fa-angle-down"></i>
        </span>
      </a>
    </div>

    <div class="tab-content {% if tab2_active%}active{% endif %}" data-TabContent id="collapse-tab2">
      <!--   metafield start here     -->
        <div class="three-sections">
          {% if collection.title == 'Bundles of Goodness' %}
          {% else %}
          {% include "goodness-inside" %}
          {% endif %}
        </div>
      <!--   metafield start here     -->
    </div>
    {% endif %}

    {% if section.settings.display_how_to_use %}
    <div class="tab-title">
      <a href="#" data-tapTop data-target="#collapse-tab3" class="tab-links {% if tab3_active%}active{% endif %}">
        {% include 'multilang' with section.settings.how_to_use_title %}
        <span class="icon-dropdown">
          <i class="fa fa-angle-down"></i>
        </span>
      </a>
    </div>

    <div class="tab-content {% if tab3_active%}active{% endif %}" data-TabContent id="collapse-tab3">
          {% include "how-to-use" %}
    </div>
    {% endif %}
  </div>
  {% endif %}
</div>
 <style>
        @media(max-width:767px){
        .horizontal-tabs .wrapper-tab-content .tab-title:first-child + .tab-content {
          display: none;
        }
          
        }
        
        </style>

