{{ 'slick.min.js' | asset_url | script_tag }}
<div class="container">
  <div class="top_cutomer_bar">
    <div class="left_name">hi {{customer.first_name}}</div>
    <div class="logout_button"><a href="/account/logout/" class="logout">log out</a></div>
  </div>  
<section class="filters">
  <div class="row">
    <div class="col-3 col-sm-12">
      <ul class="filters-content">
        <li class="filters__button is-active" data-target="#profile"><img src="https://cdn.shopify.com/s/files/1/0390/2985/files/profile-icon.png" alt="" /> Profile</li>
        <li class="filters__button" ><a href="https://plumgoodness.com/pages/refer-your-friend?tab=refer"><img src="https://cdn.shopify.com/s/files/1/0390/2985/files/speaker_783289da-41f1-446f-99d5-cecd7e1ad47b.png?v=1656648137" alt="refer your friends" /> Refer your Friends</a></li>
        <li class="filters__button" data-target="#orders"><img src="https://cdn.shopify.com/s/files/1/0390/2985/files/Order-icon.png" alt="" /> Orders</li>
        <li class="filters__button" data-target="#goodness-rewards"><img src="https://cdn.shopify.com/s/files/1/0390/2985/files/Rewards-icon.png" alt="" /> Goodness Rewards</li>
        <li class="filters__button" data-target="#order-tracking"><img src="https://cdn.shopify.com/s/files/1/0390/2985/files/Order-Tracking-icon.png" alt="" /> Order Tracking</li>
        <li class="filters__button" data-target="#order-cancellation"><img src="https://cdn.shopify.com/s/files/1/0390/2985/files/Order-Cancellation-icon.png" alt="" /> Order Cancellation</li>
      </ul>
    </div>

  <div class="col-9 col-sm-12">
    <div data-content class="is-active tab-content" id="profile">
      <div class="row">
        <aside class="col-sm-12 personal-info">
          <h3 class="account-saved">my details</h3>
          <div class="account-personal-info">
            <p class="name account_info"><b>Name</b><br><span>{{ customer.name }}</span></p>
            <p class="email account_info"><b>Email Id</b><br><span>{{ customer.email }}</span></p>
            <p class="loaction account_info"><b>Location</b><br><span>{{ customer.default_address.city}}{% if customer.default_address.province_code %}, {{customer.default_address.province_code}}{% endif %} {{ customer.default_address.zip}}</span></p>
            <p class="mobile account_info"><b>Mobile </b><br><span>{{ customer.default_address.phone }}</span></p>
          </div>
        </aside>
        <main class="col-sm-12 saved-address">
          <h3>Saved address</h3>
          <div class="edit-added-address">
            {% paginate customer.addresses by 5 %}
            {% for address in customer.addresses %}

            {% if address == customer.default_address %}
            <h4 {% if settings.enable_multilang %}data-translate="customer.addresses.default"{% endif %}>
              {{ address.first_name | capitalize }} {{address.last_name | capitalize }}
            </h4>
            {% endif %}
            
            <div class="address_info_cols-cd_cols">

            <div class="address_info_cols-cd">
              <p>{{ address.company }}</p>
              <p>{{ address.street }}</p>
              <p>{{ address.city | capitalize }}<br>
              {% if address.province_code %}
              {{ address.province_code | upcase }}</p>
              {% endif %}
              <p>{{ address.zip | upcase }}</p>
              <p>{{ address.country }}</p>
              <p>{{ address.phone }}</p>
            </div>

            <div class="buttons_cs">
            <div class="btn"><i class="fa fa-pencil"></i>{{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id }}</div>
              <div class="btn"><i class="fa fa-trash" aria-hidden="true"></i>{{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}</div>
            </div>

            <div id="edit_address_{{address.id}}" style="display:none;" class="popup_to_address">
              {% form 'customer_address', address %}

              <h3 {% if settings.enable_multilang %}data-translate="customer.addresses.edit_address"{% endif %}>{{ 'customer.addresses.edit_address' | t }}</h3>

              <div class="cols_half_inpt">
              <input type="text" id="address_first_name_{{form.id}}" class="address_form" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words" placeholder="First Name">
              </div>
               <div class="cols_half_inpt">
              <input type="text" id="address_last_name_{{form.id}}" class="address_form" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words" placeholder="Last Name">
              </div>
               <div class="cols_half_inpt">
              <input type="text" id="address_company_{{form.id}}" class="address_form" name="address[company]" value="{{form.company}}" autocapitalize="words" placeholder="Company">
              </div>
                 
                 <div class="cols_half_inpt">
              <input type="text" id="address_address1_{{form.id}}" class="address_form" name="address[address1]" value="{{form.address1}}" autocapitalize="words" placeholder="Address 1">
              </div>
               <div class="cols_half_inpt">
              <input type="text" id="address_address2_{{form.id}}" class="address_form" name="address[address2]" value="{{form.address2}}" autocapitalize="words" placeholder="Address 2">
              </div>
               <div class="cols_half_inpt">
              <input type="text" id="address_city_{{form.id}}" class="address_form" name="address[city]" value="{{form.city}}" autocapitalize="words" placeholder="City">
              </div>
               <div class="cols_half_inpt">
              <select id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
              </div>
               <div class="cols_half_inpt">
              <div id="address_province_container_{{form.id}}" style="display:none">
                <select id="address_province_{{form.id}}" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
              </div>
              </div>
				 <div class="cols_half_inpt">
              <input type="text" id="address_zip_{{form.id}}" class="address_form" name="address[zip]" value="{{form.zip}}" autocapitalize="characters" placeholder="Postal/Zipcode">
              </div>
               <div class="cols_half_inpt">
              <input type="tel" id="address_phone_{{form.id}}" class="address_form" name="address[phone]" value="{{form.phone}}" placeholder="Mobile Number">
              </div>
              <p>
                <label for="address_default_address_{{form.id}}" class="inline checkbox" {% if settings.enable_multilang %}data-translate="customer.addresses.set_default"{% endif %}>
                  {{ form.set_as_default_checkbox }}
                  <span class="checkmark"></span>
                  {{ 'customer.addresses.set_default' | t }}
                </label>
              </p>
              <div class="btns">
                <a href="#" class="btn" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;" {% if settings.enable_multilang %}data-translate="customer.addresses.cancel"{% endif %}>{{ 'customer.addresses.cancel' | t }}</a>
                <input type="submit" class="btn submit"  {% if settings.enable_multilang %}data-translate="customer.addresses.update"{% endif %} value="{{ 'customer.addresses.update' | t }}">              </div>
              {% endform %}
            </div> </div>

            {% endfor %}
            {% if settings.enable_multilang %}
            <script>
              $(".button").find("a:eq(0)").attr("data-translate","customer.addresses.edit");
              $(".button").find("a:eq(1)").attr("data-translate","customer.addresses.delete");
            </script>
            {% endif %}
          </div>
          <div class="add-new-address">
            <p class="large--right">
              <a href="#" class="btn yellow_btn" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;" {% if settings.enable_multilang %}data-translate="customer.addresses.add_new"{% endif %}>+ Add New Address</a>
            </p>

            {% comment %}
            Add address form, hidden by default
            {% endcomment %}
            <div id="add_address" style="display: none;">
              {% form 'customer_address', customer.new_address %}
              <h3 {% if settings.enable_multilang %}data-translate="customer.addresses.add_new"{% endif %}>{{ 'customer.addresses.add_new' | t }}</h3>
				 <div class="cols_half_inpt">
              <input type="text" id="address_first_name_new" class="address_form" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words" placeholder="First Name">
              </div>
               <div class="cols_half_inpt">
              <input type="text" id="address_last_name_new" class="address_form" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words" placeholder="Last Name">
              </div>
               <div class="cols_half_inpt">
              <input type="text" id="address_company_new" class="address_form" name="address[company]" value="{{form.company}}" autocapitalize="words" placeholder="Company">
              </div>
               <div class="cols_half_inpt">
              <input type="text" id="address_address1_new" class="address_form" name="address[address1]" value="{{form.address1}}" autocapitalize="words" placeholder="Address 1">
				</div>
               <div class="cols_half_inpt">
              <input type="text" id="address_address2_new" class="address_form" name="address[address2]" value="{{form.address2}}" autocapitalize="words" placeholder="Address 2">
				</div>
               <div class="cols_half_inpt">
              <input type="text" id="address_city_new" class="address_form" name="address[city]" value="{{form.city}}" autocapitalize="words"  placeholder="City">
              </div>
              
               <div class="cols_half_inpt">
              <select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
               </div>
               <div class="cols_half_inpt">
              <div id="address_province_container_new" style="display:none">
                <select id="address_province_new" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
              </div>
                 </div>
               <div class="cols_half_inpt">

              <input type="text" id="address_zip_new" class="address_form" name="address[zip]" value="{{form.zip}}" autocapitalize="characters" placeholder="Postal/Zipcode">
					</div>
               <div class="cols_half_inpt">
              <input type="tel" id="address_phone_new" class="address_form" name="address[phone]" value="{{form.phone}}" placeholder="Mobile Number">
              </div>
              <p>
                <label for="address_default_address_new" class="inline checkbox" {% if settings.enable_multilang %}data-translate="customer.addresses.set_default"{% endif %}>
                  {{ form.set_as_default_checkbox }}
                  <span class="checkmark"></span>
                  {{ 'customer.addresses.set_default' | t }}
                </label>
              </p>

              <div class="btns">
                <a href="#" class="btn yellow_btn" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;" {% if settings.enable_multilang %}data-translate="customer.addresses.cancel"{% endif %}>{{ 'customer.addresses.cancel' | t }}</a>
                <input type="submit" class="btn yellow_btn submit"  {% if settings.enable_multilang %}data-translate="customer.addresses.add"{% endif %} value="{{ 'customer.addresses.add' | t }}">
              </div>
              {% endform %}
              <hr>
            </div>
          </div>
          {% if paginate.pages > 1 %}
          <div class="text-center">
            {% include 'pagination' %}
          </div>
          {% endif %}
          {% endpaginate %}
        </main>

      </div>
    </div>

    <div data-content id="orders" class="tab-content">
      {% paginate customer.orders by 9 %}
      <div class="section clearfix account-section min-height">
        <main class="account-main">
          <div id="customer_orders">

            {% if customer.orders.size != 0 %}
            <div class="loop-order-info">
              {% for order in customer.orders %}
              <div class="order-quick-info relative">
                <div class="quick-info">
                  <p class="product-id">
                    <b><a href="{{order.customer_url }}">Order ID {{ order.name }}</a></b>
                    <span class="purchase-date">{{ order.created_at | date: format: "month_day_year" }}</span>
                  </p>
                  <p class="order-amount">{{ order.total_price | money }}</p>
                </div>
<!--                 <div class="detail-info-button text-center">
                  <a href="{{ order.customer_url }}" class="action_button">View</a>
                </div> -->
              </div>
              {% endfor %}
            </div>
            {% else %}
            <p class="text-center no-order">{{ 'customer.orders.none' | t }}</p>
            {% endif %}
            {% if customer.orders.size > 9 %}
            {% include 'pagination' with true %}
            {% endif %}
          </div>
        </main>
      </div>
      {% endpaginate %}
    </div>
    <div data-content id="goodness-rewards" class="tab-content">
      <div data-lion-account></div>
    </div>
    
    <div data-content id="order-tracking" class="tab-content">
      <h3>please enter order id to track your order</h3>
      <div style="display:flex;justify-content:center">
        <br>
        <input id="order_number" style="background:#f8f8f8;border-radius:20px" type="text" value="" name="Order_id" id="first_name" placeholder="Enter Order Id" required="">
        <br>
      </div>
      <div style="display:flex;justify-content:center;color:rgb(92,16,140);font-weight:bold;width:50%;margin-left:25%" id="text-error">
      </div>
      <br>
      <div style="display:flex;justify-content:center">
        <br>
        <button class="btn" style="background:rgb(92, 16, 140);border-radius:40px;color:white" onclick="showStatus()">Track</button>
      </div>
    </div>
    
  <div data-content id="order-cancellation" class="tab-content">
      <h3>Please enter your order details to cancel the order</h3> 
      <div id="myModal" class="modal">         
        <div class="modal-content" style="text-align:center">

          <p>We're sorry you want to cancel your order! If there is anything we can do to help make your experience smoother, please do reach out to our customer service team.</p>
          <p>Are you sure you want to cancel?</p>
          <p>
            <button class="btn" style="background:rgb(92,16,140);float:left;border-radius:40px;color:white;margin-left:25%" onclick="closeModel()">Changed my mind</button>
            <button class="btn" style="background:rgb(92,16,140);float:right;border-radius:40px;color:white;margin-right:7%"  onclick="cancelOrder()">Yes, i want to cancel the order</button>
          </p>
        </div>

      </div>
      <div id="myModalFulfilled" class="modal">

        <!-- Modal content -->
        <div class="modal-content" style="text-align:center">

          <p>We're sorry you want to cancel your order! If there is anything we can do to help make your experience better, do let us know. We will attempt to cancel this at our end, and will reach out to you with confirmation once we do.</p>
          <p>Are you sure you want to proceed?</p>
          <p>
            <button class="btn" style="background:rgb(92,16,140);float:left;border-radius:40px;color:white;margin-left:18%" onclick="closeModel1()">Changed my mind</button>
           <button class="btn" id="submit_bt" style="background:rgb(92,16,140);float:right;border-radius:40px;color:white;margin-right:7%" onclick="submit2()">Yes, attempt cancellation <img id="loading-image" src="https://cdn.shopify.com/s/files/1/0390/2985/files/loading_112729a5-01d5-4013-a39e-11375d9d4d6a.gif?v=1633414770" alt="Loading..." width="100px" style="display:none"></button>
          </p>
        </div>

      </div>
      <div style="display:flex;justify-content:center">
        <br>
        <input id="order_id" style="background:#f8f8f8;border-radius:20px" type="text" value="" name="Order_id" id="first_name" placeholder="Enter order id">
        <br>
      </div>
      <div style="display:flex;justify-content:center;color:red;font-weight:bold" id="text-error">

      </div>
      <br>
      <div style="display:flex;justify-content:center">
        <input type="text" style="background:#f8f8f8;border-radius:20px;" id="cno" name="Contact No." placeholder="Enter shipping contact number">
        <br>
      </div>
       <br>
       <div style="display:flex;justify-content:center">
          <select size="1" name="cancellation_reason" id="cancellation_reason" style="background:#f8f8f8;border-radius:20px;color:grey;" required>
            		  <option value="placing a new order" disabled selected>please select your reason to cancel</option>         
            		  <option value="placing a new order">placing a new order</option>
                      <option value="changed my mind">changed my mind</option>
                      <option value="didn't like the offers/discount">didn't like the offers/discount</option>
                      <option value="ordered my plums from another website">ordered my plums from somewhere else</option>
                      <option value="freebies not added to the cart">freebies not added to the cart</option>
                      <option value="order not dispatched">delayed dispatch/ delivery</option>
                      <option value="Other">Other</option>
                  </select>
        </div>
       <br>
      <div style="display:flex;justify-content:center" id="hidden_feild" class="hidden">
        <textarea name="other" id="other" class="hidden" placeholder="please enter you reason to cancel" required  maxlength="180"></textarea><br>
        </div>
      <div style="display:flex;justify-content:center;color: #5c248c;font-weight: 500;" id="text-error1">

      </div>
      <div style="display:flex;justify-content:center;color:red;font-weight:bold" id="text-error2">

      </div>

      <div style="display:flex;justify-content:center">
        <button class="btn" style="background:rgb(92, 16, 140);border-radius:40px;color:white" onclick="submit()">Cancel</button>
      </div>
    </div>
    </div>
</section>
</div>
<script>
$('.filters-content').slick({
    slidesToShow: 2,
    slidesToScroll: 1,
    autoplay: false,
    arrow: false,
    autoplaySpeed: 2000,
    responsive: [
        {
            breakpoint: 9999,
            settings: "unslick"
        },
        {
            breakpoint: 768,
             settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    infinite: true,
                    arrow: false,
                    dots: true
                }
        }
    ]

});
  $(window).resize(function(){
     if ($(window).width() < 767){
   $('.filters-content').slick('resize');
     }
  });
  // tabs JQuery 
const tabs = document.querySelectorAll("[data-target]"),
  tabContents = document.querySelectorAll("[data-content]");

tabs.forEach((tab) => {
  tab.addEventListener("click", () => {
    const target = document.querySelector(tab.dataset.target);

    tabContents.forEach((tc) => {
      tc.classList.remove("is-active");
    });
    target.classList.add("is-active");

    tabs.forEach((t) => {
      t.classList.remove("is-active");
    });
    tab.classList.add("is-active");
  });
});
  
  // Address Edit and Remove  
   // Initialize observers on address selectors
  new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {
    hideElement: 'address_province_container_new'
  });

  // Setup province selector on each customer address
  {% for address in customer.addresses %}
  new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {
                                      hideElement: 'address_province_container_{{address.id}}'}
                                     );
  {% endfor %}

  // Contents of customer_area.js (global asset)
  Shopify.CustomerAddress = {
    toggleForm: function(id) {
      var editEl = document.getElementById('edit_address_'+id);
      // var viewEl = document.getElementById('view_address_'+id);
      editEl.style.display = editEl.style.display == 'none' ? '' : 'none';
      //viewEl.style.display = viewEl.style.display == 'none' ? '' : 'none';
      editEl.classList.toggle("active");
      body.classList.toggle("popup_active");
      return false;
    },

    toggleNewForm: function() {
      var el = document.getElementById('add_address');
      el.style.display = el.style.display == 'none' ? '' : 'none';
      return false;
    },

    destroy: function(id, confirm_msg) {
      var msg = "{{ 'customer.addresses.delete_message' | t}}";
      {% if settings.enable_multilang %}
      if (translator.isLang2())
        var msg = lang2.customer.addresses.delete_message;      
      {% endif %}
      if (confirm(msg)) {
        Shopify.postLink('/account/addresses/'+id, {'parameters': {'_method': 'delete'}});
      }
    }
  }
  
  // Order tracking 
  function showStatus(){
    var number=$('#order_number').val()
    url='https://order.plumgoodness.com/orderDetails/'+number
    $.ajax({
      url:url ,
      contentType: "application/json",
      dataType: 'json',

      success: function(data){
        if(!data.status){
          //alert()
          $('#text-error').text("Hey "+data.shipping_address.first_name+"! Your order hasn't shipped yet. Don't worry, we're working hard to get your package of goodness to you ASAP. You'll get an email & SMS as soon as it's on its way")
        }
        else if(data.status=='fulfilled'){
           $('#order_number').val('');
          urlAddress="https://plumgoodness.clickpost.in/?order_id="+number
          window.open(urlAddress, '_blank').focus();
        }
        else{
          $('#text-error').text('Please check the order id')
        }
      },
      error:function(){
        $('#text-error').text('Please check the order id')
      }
    })
  }
  function showStatusMobile(){
    var number=$('#order_number_mobile').val()
    url='https://order.plumgoodness.com/orderDetails/'+number
    $.ajax({
      url:url ,
      contentType: "application/json",
      dataType: 'json',

      success: function(data){
        alert(data.status)
        if(data.status=='fulfilled'){
          $('#order_number').val('');
          urlAddress="https://plumgoodness.clickpost.in/?order_id="+number
          window.open(urlAddress, '_blank').focus();          
        }
        else{
          $('#text-error').text('value')
        }
      },
      error:function(){

      }
    })
  }
  
  $('#other').val('');
   $('#cancellation_reason').on("change", function() {
    if ($(this).val() == 'Other'){
    $('#other').val('');
    $('#other').removeClass('hidden');
    $('#hidden_feild').removeClass('hidden');      
    }
    else{
     $('#other').addClass('hidden');
     $("#other").val($(this).val());
     $('#hidden_feild').addClass('hidden'); 
    }
    
  });
  // Order Cancellation  
   // Get the modal
  var modal = document.getElementById("myModal");
  var modal1 = document.getElementById("myModalFulfilled");

  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");

  // Get the <span> element that closes the modal
  var span = document.getElementById("close");

  // When the user clicks the button, open the modal 
  function submit2(){
    var btn_sub = document.getElementById("submit_bt");
    btn_sub.classList.add("loading");
    var order_id=$('#order_id').val()
    var cno=$('#cno').val()
    var status=financial_status;
    var p_status=payment_status
    var cancel_reason = $('#other').val()
    console.log(cancel_reason);
    //alert(order_id+cno+status+p_status)
    $.ajax({
        url:"https://order.plumgoodness.com/updateSheet/"+order_id+"/"+cno+"/"+p_status+"/"+status+"/"+cancel_reason,
        contentType: "application/json",
        dataType: 'json',
  
        success: function(data){         
          
          var id=$('#order_id').val()
          var cono=$('#cno').val()
          if(data.message=='Excel sheet updated succesfully'){
                  
                  $('#order_id').val('');
                  $('#cno').val('')
                  //alert("Cancellation Ticket is successfully generated")
                  modal1.style.display = "none";
                  btn_sub.classList.remove("loading");
                  $('#text-error').text('')
                  $('#text-error1').text('')
                  $('#text-error2').text('')
                  $('#text-error2').text('Cancellation Ticket is successfully generated')

          	
          }
          else if(data.message=='Order alredy canceled'){
            //alert(data.status)
            modal1.style.display = "none";
            btn_sub.classList.remove("loading");
            $('#text-error').text('')
            $('#text-error1').text('')
            $('#text-error2').text('')
            $('#text-error2').text('Cancellation Ticket is already generated')
          }
          else
          	modal1.style.display = "none";
          btn_sub.classList.remove("loading");
          
        },
  		error:function(){
          $('#text-error').text('')
            $('#text-error1').text('')
            $('#text-error2').text('ops, looks like something went wrong! Please double check your order ID & contact number and try again.')
        $('#text-error').text('Please Enter Valid Order Number')
        }
    });
  }
  
  var financial_status='';
  var payment_status='';
  var email_id='';
  var user_name='';
  function submit() {
    var order_id=$('#order_id').val()
    var cno=$('#cno').val()
    var cancel_reason = $('#other').val()
    if(order_id=='' && cno=='' && cancel_reason==''){      
      $('#text-error').text('')
            $('#text-error1').text('')
            $('#text-error2').text('')
    	$('#text-error2').text('ops, looks like something went wrong! Please double check your order ID & contact number and try again.')
        return
    }
    else if(order_id=='' && cno!=''  && cancel_reason==''){
      $('#text-error').text('')
            $('#text-error1').text('')
            $('#text-error2').text('')
    	$('#text-error2').text('ops, looks like something went wrong! Please double check your order ID & contact number and try again.')
        return
    }
    else if(order_id!='' && cno==''  && cancel_reason==''){
      $('#text-error').text('')
            $('#text-error1').text('')
            $('#text-error2').text('')
    	$('#text-error2').text('ops, looks like something went wrong! Please double check your order ID & contact number and try again.')
        return
    }
    else if(order_id=='' && cno==''  && cancel_reason!=''){
      $('#text-error').text('')
            $('#text-error1').text('')
            $('#text-error2').text('')
    	$('#text-error2').text('ops, looks like something went wrong! Please double check your order ID & contact number and try again.')
        return
    }
    else if(order_id!='' && cno!=''  && cancel_reason==''){
      $('#text-error').text('')
            $('#text-error1').text('')
            $('#text-error2').text('')
    	$('#text-error2').text('ops, looks like something went wrong! Please select Cancellation reason.')
        return
    }
    else{
    $.ajax({
        url:"https://order.plumgoodness.com/order/verifyDetails/"+order_id+"/"+cno ,
        contentType: "application/json",
        dataType: 'json',
  
        success: function(data){
          financial_status=data.financial_status;
          payment_status=data.status
          email_id=data.email
          user_name=data.name
//           alert(payment_status)
//           alert(financial_status)
          if(data.status=='unfulfilled'){
          	
            //alert(financial_status)
            modal1.style.display = "block";
          }
          else if(data.status=='fulfilled'){
          	
            //alert(financial_status)
            $('#order_id').val('');
            $('#cno').val('')
            $('#text-error').text('')
            $('#text-error1').text('')
            $('#text-error2').text('')
            $('#text-error1').html('Your order is dispatched. If you want to cancel this order, talk to our support on &nbsp; <a style="color: #5c248c;font-weight: bold;" href="mailto:hello@plumgoodness.com"> hello@plumgoodness.com</a>') 
          }
          else if(data.status=='Not Valid Order Number'){
            //alert(data.status)
            $('#order_id').val('');
            $('#cno').val('')
            $('#text-error').text('')
            $('#text-error1').text('')
            $('#text-error2').text('')
            $('#text-error1').text('Already Cancelled or Not a Valid Order Number')
          }
          else if(data.status=='Not authorized'){
            $('#order_id').val('');
            $('#cno').val('')
            $('#text-error').text('')
            $('#text-error1').text('')
            $('#text-error2').text('')
            $('#text-error2').text('ops, looks like something went wrong! Please double check your order ID & contact number and try again.')
          }
          else if(data.status=='Already Cancelled'){
            $('#order_id').val('');
            $('#cno').val('')
            $('#text-error').text('')
            $('#text-error1').text('')
            $('#text-error2').text('')
            $('#text-error2').text('Already Cancelled')
          }
          else
          	modal.style.display = "block";
          
        },
  		error:function(){
          $('#text-error').text('')
            $('#text-error1').text('')
            $('#text-error2').text('ops, looks like something went wrong! Please double check your order ID & contact number and try again.')
        $('#text-error').text('Please Enter Valid Order Number')
        }
    });
  }
    
  }

  function closeModel(){
  	modal.style.display = "none";
  }
  function closeModel1(){
  	modal1.style.display = "none";
  }
  function cancelOrder(){
  	var order_id=$('#order_id').val()
    var cno=$('#cno').val()
    var phoneno = /^\d{10}$/;
    //alert(order_id+""+cno)
    
    
  }
  // When the user clicks on <span> (x), close the modal
  

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  } 
  



</script>


<style>
  .tab-content {display: none;}
  .tab-content.is-active {
    display: block !important;
}
  
 ul.filters-content li.filters__button {
    padding: 12px 12px 12px 25px;
    margin: 12px 0;
    background: #d9c4e3;
    color: #fff;
    border-radius: 3px;
    text-align: left;
    cursor: pointer;
    background: none;
    border: 1px solid #ccc;
    color: #000;
    font-weight: 600;
    font-size: 18px;
}
  
  
  ul.filters-content li.filters__button.is-active {
    background: #5e248c;
    font-weight: 600;
    border-color: #5e248c;
    color: #fff;
}
  
  .order-quick-info.relative {
    width: 31.26%;
    float: left;
    background: #fff;
    border: 1px solid #d3d5d4;
    border-radius: 10px;
    padding: 25px 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
  
  ul.filters-content li.filters__button img {
    vertical-align: middle;
    margin-right: 11px;
    position: relative;
    top: -2px;
}
  
ul.filters-content li.filters__button.is-active img {
    filter: invert(1);
}
  
.main-content .container {
    padding-top: 80px;
}
  
.main-content .top_cutomer_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  align-items: center;
}
  
  .main-content .top_cutomer_bar .left_name {
    font-size: 30px;
    font-weight: 600;
    color: #5e248c;
    letter-spacing: 0;
}
  
  .main-content .top_cutomer_bar .logout_button .logout {
    background: #5e0d8b;
    color: #fff!important;
    font-size: 18px;
    border-radius: 5px;
    padding: 15px 15px 18px 15px;
    min-width: 145px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
}
  
  .main-content .top_cutomer_bar .logout_button .logout:hover {
    background: #8901bd ;
    color: #fff!important;
}
  
  
  .main-content .filters .tab-content {
    background: #f5f0f7;
    margin-top: 12px;
    margin-left: 15px;
    padding: 25px 35px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 0 !important;
    /* background: #f00; */
}
  
.main-content .filters .tab-content .personal-info {
    border: none !important;
    margin-top: 0;
}
  
.main-content .filters .tab-content .personal-info h3.account-saved {
    font-family: 'serifabold';
    font-size: 36px !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
    color: #5e0d8b;
}
  
.tab-content .account-personal-info p b {
    color: #000 !important;
    font-weight: 600 !important;
    font-size: 18px !important;
}
  
.tab-content .account-personal-info p span {
    font-size: 17px !important;
    color: #6e6e6e !important;
}
  
.tab-content .account-personal-info p {
    margin-bottom: 30px !important;
}
  
.tab-content  .saved-address {
    padding: 0 15px;
    margin-top: 10px;
}
  
.tab-content .saved-address h3 {
    font-family: 'serifabold';
    font-size: 36px !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
    color: #5e0d8b;
    border-bottom: 1px solid #909090;
    padding-bottom: 12px;
}
  
.tab-content .saved-address .edit-added-address h4 {
    color: #515151;
    font-size: 20px;
    font-weight: 600;
}
  
.tab-content .saved-address .edit-added-address p br {
    display: none;
}
  
.tab-content .saved-address .edit-added-address p {
    color: #000;
    font-size: 16px;
}
  
.tab-content .saved-address .edit-added-address h4 {
    width: 100%;
  padding-right: 15px;
    padding-left: 15px;
}
  
  .tab-content .edit-added-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
  
body#addresses .address_info_cols-cd_cols .buttons_cs .btn {
    /* background: none !important; */
    display: inline-block;
    margin-top: 25px;
    width: auto !important;
    min-width: inherit !important;
    padding: 0 !important;
    border: none !important;
    margin-right: 10px;
    position: relative;
    background-image: none !important;
    background-color: inherit !important;
    color: #000 !important;
}
  
body#addresses .address_info_cols-cd_cols .buttons_cs .btn a {
    background: #ffffff;
    border: 2px solid #e3abf9;
    display: inline-block;
    padding: 8px 18px 8px 40px;
    font-size: 16px;
    border-radius: 5px !important;
    font-weight: 500;
   background-image: none !important;
}
  
.address_info_cols-cd_cols .buttons_cs .btn i {
    position: absolute;
    left: 18px;
    top: 10px;
    font-size: 19px;
}
  
body#addresses .address_info_cols-cd_cols .buttons_cs .btn + .btn a {
    background: #5e0d8b;
    border-color: #5e0d8b;
    color: #fff !important;
}
  
body#addresses .address_info_cols-cd_cols .buttons_cs .btn + .btn i {
    color: #fff;
}
  
  .popup_to_address, div#add_address {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
  
.popup_to_address form, div#add_address form {
    width: 95% !important;
    max-width: 700px !important;
    background: #f5f0f7;
    padding: 35px 25px;
    border-radius: 10px;
}
  
.popup_to_address form .cols_half_inpt, div#add_address form .cols_half_inpt{
    float: left;
    width: 50%;
    padding: 0 5px;
    margin-bottom: 18px;
}
  
  .template-customers-addresses .saved-address form .btns {
    margin-top: 0;
}
  
  
.popup_to_address form .cols_half_inpt input, div#add_address form .cols_half_inpt input {
    border: 1px solid #cbcbcb !important;
    max-width: 100% !important;
    font-size: 15px;
    background: #fff !important;
  color:#000;
  height: 40px;
    margin-bottom: 0 !important;
}
  
  .popup_to_address form .cols_half_inpt input::-webkit-input-placeholder {
  color:#000;
}
.popup_to_address form .cols_half_inpt input::-moz-placeholder { 
  color:#000;
}
.popup_to_address form .cols_half_inpt input:-ms-input-placeholder {
 color:#000;
}
.popup_to_address form .cols_half_inpt input:-moz-placeholder { 
  color:#000;
}
  
.popup_to_address form .cols_half_inpt select, div#add_address form .cols_half_inpt select {
    border: 1px solid #cbcbcb !important;
    max-width: 100% !important;
    font-size: 15px;
    background: #fff !important;
  background-image: url('https://cdn.shopify.com/s/files/1/0390/2985/files/drop_select_icons.png') !important;
    background-size: 18px 11px;
    background-repeat: no-repeat !important;
    background-position: 96% 13px !important;
  height: 40px;
    margin-bottom: 0 !important;
}
  
.popup_to_address form p, div#add_address form p {
    clear: both;
    padding: 0 5px;
    margin-bottom: 15px;
}
  
.popup_to_address form .btns a.btn, div#add_address form .btns a.btn {
    background-image: inherit !important;
    border: 1px solid #5e0d8b!important;
    color: #fff !important;
    max-width: 100%;
    min-width: 119px;
    background: #5e0d8b !important;
    font-weight: 600 !important;
    margin-right: 15px;
    line-height: normal !important;
    height: auto !important;
    margin-bottom: 0 !important;
  padding: 6px 15px 7px !important;
}
  
.popup_to_address form .btns input.btn.submit, div#add_address form .btns input.btn.submit {
    border: 1px solid #5e0d8b!important;
    border-radius: 5px !important;
    background: none !important;
    color: #5e0d8b !important;
  font-weight: 600 !important;
  line-height: normal !important;
    height: auto !important;
  margin-bottom: 0 !important;
  padding: 6px 15px 7px !important;
  margin-left: 0 !important;
}
  
  
  div#add_address hr {
    display: none;
}

  
  
.tab-content .add-new-address {
    margin-top: 20px;
    margin-bottom: 15px;
}
  .main-content .filters #goodness-rewards.tab-content {
    padding: 0;
    background: #fcfcfc;
}
  
.main-content .filters #order-tracking.tab-content h3, .main-content .filters #order-cancellation.tab-content h3 {
    font-family: 'serifabold';
    letter-spacing: .5px;
    color: #5e0d8b;
    font-size: 35px;
    margin-bottom: 1em;
}
  
  .main-content .filters #order-tracking.tab-content div, .main-content .filters #order-cancellation.tab-content div {
    justify-content: flex-start !important;
}
  
  .main-content .filters #order-tracking.tab-content div input#order_number {
    border-radius: 5px !important;
    width: 100%;
    max-width: 500px;
    height: 50px;
    color: #000;
    font-size: 17px;
    background: #fff !important;
    padding-left: 20px;
}
  
  .main-content .filters #order-cancellation.tab-content div input{
   border-radius: 5px !important;
    width: 100%;
    max-width: 500px;
    height: 50px;
    color: #000;
    font-size: 17px;
    background: #fff !important;
    padding-left: 20px;
    
  }
  
  .main-content .filters #order-tracking.tab-content div button.btn,  .main-content .filters #order-cancellation.tab-content div button.btn {
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px !important;
    min-width: 180px;
    padding: 15px 12px;
    font-size: 18px;
}
  
.main-content .filters #order-cancellation.tab-content div button.btn {
    margin-top: 25px;
    margin-bottom: 25px;
}
  
  .main-content .filters .tab-content {
    min-height: 385px;
}
  
  
 .popup_to_address label.inline.checkbox span.checkmark, #add_address label.inline.checkbox span.checkmark {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #5e0d8b;
    vertical-align: middle;
    border-radius: 3px;
    margin-right: 5px;
    margin-top: -2px;
    position: relative;
	transition: all .2s ease-in-out;
}
  
  .popup_to_address label.inline.checkbox, #add_address label.inline.checkbox{cursor:pointer;}

.popup_to_address label.inline.checkbox span.checkmark:after, #add_address label.inline.checkbox span.checkmark:after {
    content: "";
    width: 7px;
    height: 14px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    left: 6px;
    top: 1px;
    transition: all .2s ease-in-out;
	opacity:0;
	visibility:hidden;
}


.popup_to_address label.inline.checkbox input[type=checkbox]:checked + span.checkmark {
    background: #5e0d8b;
}

.popup_to_address label.inline.checkbox input[type=checkbox]:checked + span.checkmark:after{
	opacity:1;
	visibility:visible;

}
  
  #add_address label.inline.checkbox input[type=checkbox]:checked + span.checkmark {
    background: #5e0d8b;
}
  
  #add_address label.inline.checkbox input[type=checkbox]:checked + span.checkmark:after{
	opacity:1;
	visibility:visible;

}
  
  div#customer_orders .loop-order-info {
    margin-left: -15px;
    margin-right: -15px;
}

  .order-quick-info.relative {
    width: calc(50% - 32px);
    border: none;
    margin: 15px;
    border-radius: 2px;
    padding: 30px;
}
  
.quick-info p.product-id:before {
    content: "";
    width: 60px;
    height: 2px;
    background: #5c0f8b;
    display: block;
    margin-bottom: 20px;
}
  
  .popup_to_address label.inline.checkbox, #add_address label.inline.checkbox {
    font-weight: 600;
    color: #000;
}
  
   div#add_address form .cols_half_inpt input::-webkit-input-placeholder {
  color:#000;
}
div#add_address form .cols_half_inpt input::-moz-placeholder { 
  color:#000;
}
div#add_address form .cols_half_inpt input:-ms-input-placeholder {
 color:#000;
}
div#add_address form .cols_half_inpt input:-moz-placeholder { 
  color:#000;
}
  

  @media only screen and (min-width:768px){
    
    .address_info_cols-cd_cols {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    float: left;
    padding: 0 15px;
    margin: 15px 0 30px 0;
}
  
  .filters .col-3.col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29%;
    flex: 0 0 29%;
    max-width: 29%;
    float: left;
}
    
.filters .col-9.col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 71%;
    flex: 0 0 71%;
    max-width: 71%;
    float: left;
}
    
 .account-personal-info {
    display: block;
    margin:0 -10px;
}
    
 .account-personal-info p {
    float: left;
    width: 50%;
    padding: 0 10px;
}
  
  }
  
@media only screen and (max-width:991px) and (min-width:768px){
  
 ul.filters-content li.filters__button {
    padding: 10px 8px 10px 10px;
    font-size: 15px;
}
  
ul.filters-content li.filters__button img {
    margin-right: 6px;
    position: relative;
    top: 0;
    max-width: 31px;
}
  
 .main-content .filters .tab-content {
    margin-left: 0;
}
  
}
  
  
  
@media only screen and (max-width:767px){
  
  div#customer_orders .loop-order-info {
    margin-left: -5px;
    margin-right: -5px;
}
  
  .quick-info p.product-id:before {
    width: 40px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
  
  .order-quick-info.relative span.purchase-date {
    display: block;
}
  
.order-quick-info.relative {
    padding: 20px 5px;
    text-align: center;
    width: calc(50% - 12px);
    margin: 10px 5px;
}
  
  .order-quick-info .quick-info p {
    font-size: 14px;
} 
  
  .tab-content .account-personal-info p span {
    padding-left: 15px;
    text-align: right;
}

.loop-order-info {
    margin: 0 -5px;
}
  
  .main-content .filters .tab-content {
    margin-top: 12px;
    margin-left: 0;
    padding: 20px 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 0 !important;
    /* background: #f00; */
}
  
  .filters .col-3.col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    float: left;
}
    
.filters .col-9.col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    float: left;
}
  
ul.filters-content li.filters__button {
    margin: 0 11px 20px 11px;
    padding: 20px 7px;
    text-align: center;
    font-size: 15px;
}
  
.slick-dots li {
    vertical-align: top;
}
  
ul.filters-content li.filters__button img {
    margin: 0 auto;
    margin-bottom: 5px;
}
  
ul.filters-content {
    margin-bottom: 30px;
}
  
ul.filters-content .slick-dots li {
    margin-top: 10px;
    transition: all .5s ease-in-out;
}
  
ul.filters-content .slick-dots li button {
    background: #d2d2d2;
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
}
  
ul.filters-content .slick-dots li.slick-active button {
    border-radius: 5px;
    background: #5e0d8b;
}
  
ul.filters-content .slick-dots li.slick-active {
    width: 30px;
}
  
.main-content .container {
    padding-top: 40px;
}
  
.main-content .top_cutomer_bar .left_name {
    font-size: 22px;
}
  
.main-content .top_cutomer_bar .logout_button .logout {
    font-size: 16px;
    padding: 6px 10px 9px 10px;
    min-width: 110px;
    letter-spacing: 0;
}
  
ul.filters-content .slick-list {
    margin: 0 -11px;
}
  
.filters ul.filters-content .slick-prev.slick-arrow {
    width: 35px;
    height: 35px;
    font-size: 0;
    margin-top: -25px;
    left: -11px;
  padding: 0;
}
  
.filters ul.filters-content .slick-prev.slick-arrow:before {
    content: "\f104";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 23px;
    font-weight: 600;
    line-height: 30px;
    color: #5C0F8B;
    height: 100%;
    width: 100%;
    text-align: center;
}
  
  .filters ul.filters-content .slick-next.slick-arrow {
    width: 35px;
    height: 35px;
    font-size: 0;
    margin-top: -25px;
    right: -11px;
    padding: 0;
}
  
.filters ul.filters-content .slick-next.slick-arrow:before {
    content: "\f105";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 23px;
    font-weight: 600;
    line-height: 30px;
    color: #5C0F8B;
    height: 100%;
    width: 100%;
    text-align: center;
}
  
.filters ul.filters-content .slick-next.slick-arrow:hover, .filters ul.filters-content .slick-next.slick-arrow:focus{
background:#5C0F8B;

}
  
.filters ul.filters-content .slick-next.slick-arrow:hover:before, .filters ul.filters-content .slick-next.slick-arrow:focus:before{
color:#fff;

}
  
.filters ul.filters-content .slick-prev.slick-arrow:hover, .filters ul.filters-content .slick-next.slick-arrow:focus{
background:#5C0F8B;

}
  
.filters ul.filters-content .slick-prev.slick-arrow:hover:before, .filters ul.filters-content .slick-next.slick-arrow:focus:before{
color:#fff;

}
  
.tab-content .account-personal-info p b {
    font-size: 15px !important;
    margin-bottom: 0 !important;
}
  
.tab-content .account-personal-info p span {
    font-size: 15px !important;
}
  
.tab-content .saved-address {
    border: none;
    padding-top: 15px;
}
  
.tab-content .account-personal-info p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    font-size: 14px;
}
  
.tab-content .account-personal-info p:last-child {
    border: none;
}
  
.main-content .filters .tab-content .personal-info h3.account-saved {
    font-size: 28px !important;
    letter-spacing: 0;
    margin-bottom: 15px;
}
  
.tab-content .saved-address h3 {
    font-family: 'serifabold';
    font-size: 28px !important;
    letter-spacing: 0;
    padding-bottom: 8px;
    margin-bottom: 15px;
}
  
.tab-content .edit-added-address {
    display: block;
    margin-right: 0;
    margin-left: 0;
}
  
.address_info_cols-cd_cols {
    background: #fff;
    margin-bottom: 25px;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
  
body#addresses .address_info_cols-cd_cols .buttons_cs .btn a {
    padding: 5px 18px 6px 32px;
    font-size: 15px;
    height: auto !important;
    line-height: normal !important;
}
  
.address_info_cols-cd_cols .buttons_cs .btn i {
    left: 12px;
    top: 11px;
    font-size: 16px;
}
  
body#addresses .address_info_cols-cd_cols .buttons_cs .btn {
    margin-top: 25px;
    margin-right: 10px;
    margin-bottom: 0;
}
  
.tab-content .saved-address .edit-added-address h4 {
    margin-bottom: 20px;
    padding: 0;
}
  
.main-content .filters .tab-content .add-new-address {
    margin-bottom: 0;
}
  
.main-content .top_cutomer_bar {
    margin-bottom: 25px;
}
  
.main-content .filters #order-tracking.tab-content h3, .main-content .filters #order-cancellation.tab-content h3 {
    letter-spacing: 0;
    font-size: 28px;
}
  
.main-content .filters #order-tracking.tab-content div input#order_number {
    height: 55px;
    font-size: 16px;
    padding-left: 15px;
}
  
.main-content .filters #order-tracking.tab-content div button.btn, .main-content .filters #order-cancellation.tab-content div button.btn {
    min-width: 160px;
    padding: 12px 12px;
}
  
.main-content .filters #order-cancellation.tab-content div input {
    height: 55px;
    font-size: 16px;
    padding-left: 15px;
}
  
ul.filters-content li.filters__button img {
    display: block;
}
  
}
  
@media only screen and (max-width:600px){
  
  .popup_to_address form .btns a.btn, div#add_address form .btns a.btn {
    margin-right: 8px;
}
  
  .popup_to_address form .cols_half_inpt, div#add_address form .cols_half_inpt {
    width: 100%;
    padding: 0;
    margin-bottom: 12px;
}
  
.popup_to_address form, div#add_address form {
    padding: 25px 20px;
}
  

  .tab-content .popup_to_address h3,  .tab-content div#add_address h3 {
    padding-bottom: 5px !important;
    font-size: 28px !important;
    letter-spacing: 0;
    margin-bottom: 20px !important;
}
  
.popup_to_address form .btns input.btn.submit, div#add_address form .btns input.btn.submit {
    margin-top: 0;
}
  
.popup_to_address form .btns a.btn, div#add_address form .btns a.btn {
    margin-top: 0;
}
  
}
  
@media only screen and (max-width:355px){
    
.order-quick-info.relative {
    width: calc(100% - 10px);
}

}
 
  /*--------------order-cancel-page---------------*/
.hidden {
    display: none !important;
}
#order-cancellation input[type=text] {
    background: none !important;
    border-radius: 5px !important;
    border: 1px solid #ccc;
    color: #000;
    padding: 10px 15px;
   max-width: 500px;
  width: 92%;
}
select#cancellation_reason {
    z-index: 0;
}
#order-cancellation select {
    background: #fff !important;
      border-radius: 5px !important;
    border: 1px solid #ccc;
    color: #000;
    padding: 12px 15px;
    width: 92%;
    max-width: 500px;
  background-image: url(https://cdn.shopify.com/s/files/1/0390/2985/files/drop_select_icons.png) !important;
    background-repeat: no-repeat !important;
    background-position: 96% 18px !important;
    padding-right: 45px;
}

#order-cancellation textarea {
    border-radius: 5px !important;
    border: 1px solid #ccc;
    color: #000;
    padding: 10px 15px;
    max-width: 500px;
    width: 92%;
    height: 98px;
    background: #fff !important;
}


#order-cancellation button.btn {
  padding:12px 15px;
    text-transform: lowercase;
   border-radius: 5px !important;
}
button.btn.loading img {
    width: 20px;
    margin-left: 7px;
    display: inline-block !important;
}
  ul.filters-content li.filters__button a {
    color: #000;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  #order-cancellation button.btn {
    margin-left: 0 !important;
    width: 100%;
    margin-right: 0 !important;
    float: none !important;
}
  button.slick-next.slick-arrow {
    display: none !important;
}
  button.slick-prev.slick-arrow {
    display: none !important;
}
}  
</style>