<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>    <!-- head_meta -->
    {% include 'head_meta' %}
     <!-- SEOManganer -->
    <link rel="dns-prefetch" href="https://shopify.thirdwatch.ai">
    <link rel="dns-prefetch" href="https://widget.as.criteo.com">
    <link rel="dns-prefetch" href="https://init.grizzlyapps.com">
    <link rel="dns-prefetch" href="https://platform.loyaltylion.com">
    <link rel="dns-prefetch" href="https://bs.serving-sys.com">
    <link rel="dns-prefetch" href="https://monorail-edge.shopifysvc.com">
    <link rel="dns-prefetch" href="https://sdk-static.loyaltylion.net">
    <link rel="dns-prefetch" href="https://bs.serving-sys.com">
    <link rel="dns-prefetch" href="https://sdk.loyaltylion.net">
    <link rel="dns-prefetch" href="https://secure-ds.serving-sys.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="dns-prefetch" href="https://platform.loyaltylion.com">
    <link rel="dns-prefetch" href="https://q.quora.com"> 

    <!-- Styles -->
    {% include 'head_styles' %}
    <!-- Scripts -->
    {% include 'head_scripts' %}
    
    <!-- Header hook for plugins ================================ -->
      {% include 'sca.freegifts' %}

      {% assign scripttags = content_for_header | split: 'var urls = ["' %}
      {% if scripttags.size > 1 %}
        {% assign scripttags = scripttags[1] %}
        {% assign scripttags = scripttags | split: '"];' %}
        {% if scripttags.size > 1 %}
          {% assign scripttags = scripttags[0] %}
          {% assign scripttags = scripttags | split: '","' %}
        {% endif %}
      {% endif %}

      {% assign fg_script_url = "" %}
      {% assign shopifyorderlimits_script_url = "" %}
      {% for url in scripttags %}
        {% if url contains "secomapp.com\/freegifts\/app\/"%}
          {% assign fg_script_url = url %}
        {% endif %}
  		{% if url contains "shopifyorderlimits.s3.amazonaws.com"%}
          {% assign shopifyorderlimits_script_url = url %}
        {% endif %}
      {% endfor %}
      {% if fg_script_url !="" %}
        {% assign content_for_header = content_for_header | remove: fg_script_url %}
      {% endif %}
     
      {% if shopifyorderlimits_script_url !="" %}    
  		  {% assign content_for_header = content_for_header | remove: shopifyorderlimits_script_url %}

        {% endif %}
  
      {{ content_for_header }}
        
  <script async>
    window.mlvedaShopCurrency = "{{ shop.currency }}";
    window.shopCurrency = "{{ shop.currency }}";
    window.supported_currencies = "{{ settings.mlvedaACS_supportedCurrencies }}";
  </script>  
  {% include 'scapp-customerinfo' %} 
  
  {% if template contains 'product' %}
  {% include 'linked-options' %} 
  <!-- starapps_scripts_start -->
  {% render "starapps-product-json", product: product, starapps_app: "VIA", starapps_attribute: "sa-product-json" %}
   
 <script type="text/javascript" src="https://bcdn.starapps.studio/apps/via/plumgoodness-2/script-1648025066.js?shop={{shop.permanent_domain}}" async></script>
  <!-- starapps_scripts_end -->  
  {% endif %}
	<!-- CLEVERTAP INTEGRATION VARIABLES -->
	{% include 'clevertap_variables_generator' %}
  <!-- CLEVERTAP INTEGRATION VARIABLES -->
  
  <script async src="//asset.fwcdn3.com/js/integrations/shopify.js"></script>
  <script async src="//asset.fwcdn3.com/js/fwn.js"></script>
  <script>
      const params = new Proxy(new URLSearchParams(window.location.search), {
        get: (searchParams, prop) => searchParams.get(prop),
      });
      let atgId = params.atgSessionId;
      if(atgId) {
        localStorage.setItem('atgSessionId', atgId);
      }
    </script>
  
    <!-- Product meta ================================================== -->
 
    {%- if request.page_type == 'collection' -%}
    {%- unless template contains 'boost-pfs-original' -%}
    <link rel="preconnect" href="https://services.mybcapps.com/bc-sf-filter/filter  " />
    <link rel="dns-prefetch" href="https://services.mybcapps.com/bc-sf-filter/filter" />
    <link rel="preload" href="{{ 'boost-pfs-vendor.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'boost-pfs-core.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'boost-pfs-filter.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'boost-pfs-init.js' | asset_url }}" as="script">
    {%- endunless -%}
    {%- endif -%}

    {% include 'gokwik' %}
    {% include 'judgeme_core' %}
    {% include "loyaltylion" %}
    {% render 'gsf-conversion-pixels' %}
    {% include 'quora' %}
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "c9ztfyhvec");
</script> 
  
 </head>


<body id="{{ page_title | handle }}" class="{{ header_class }} {{ layout_class }} {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if template.suffix == 'bodylovin' %} bodylovin{% endif %}{% if template.suffix == 'bday_offer' %} bday_offer{% endif %}{% if template.suffix == 'teaser' %} teaser{% endif %}" {% if settings.enable_rtl_lang_1 or settings.enable_rtl_lang_2 %}style="opacity: 0"{% endif %}>{% include 'mc-limit' %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P7N3BVB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
 
      {% section 'searchtap' %}
      {% section 'searchtap_autocomplete' %}


      {% if template.suffix != 'unsubscribe'%}
      {% include 'wrapper-header' %} 
      {% endif %} 

    <div class="wrapper-container wrapper-body">  
      <main class="main-content" role="main"> 
        <!-- or template == "index" -->
         {%comment%}{% if template == "index"  %}
         {% include 'crm_user_validation' %}
        {% endif %} {%endcomment%}
      {% if product.handle == "green-tea-minis-duo-toner-moisturizer" or product.handle == "free-green-tea-minis-duo-toner-moisturizer" or product.handle == "free-green-tea-mini-duo-face-wash-night-gel" or product.handle == "best-bodycare-mini-trio" %}
              {% include 'user-valisation' %}
      {% endif %}
        {% if template contains 'index' or  template contains 'all-collection'%}
        {% else %}
        {% if settings.image_promo1 != blank %}
        <div id="slider-promo-wrap" style="display:none">
          <div class="header-promo-banner-slider">
            {% if settings.image_promo1 != blank %}
            <div class="slide">
              <a href="{{settings.image_promo_url}}">
              <img class="desktop" src="{{ settings.image_promo1 | img_url: 'master' }}" alt="{{ settings.image_promo1.alt}}">
              <img class="mobile" src="{{ settings.image_promo_mob1 | img_url: 'master' }}" alt="{{ settings.image_promo_mob1 .alt}}" style="display:none;">
              </a>
             </div>
            {% endif %}
            {% if settings.image_promo2 != blank %}
            <div class="slide">
               <a href="{{settings.image_promo_url1}}">
              <img class="desktop"  src="{{ settings.image_promo2 | img_url: 'master' }}" alt="{{ settings.image_promo2.alt}}">
              <img class="mobile" src="{{ settings.image_promo_mob2 | img_url: 'master' }}" alt="{{ settings.image_promo_mob2.alt}}" style="display:none;">
              </a>
                 </div>
            {% endif %}
            {% if settings.image_promo3 != blank %}
            <div class="slide">
               <a href="{{settings.image_promo_url2}}">
              <img class="desktop" src="{{ settings.image_promo3 | img_url: 'master' }}" alt="{{ settings.image_promo3.alt}}">
              <img class="mobile" src="{{ settings.image_promo_mob3 | img_url: 'master' }}" alt="{{ settings.image_promo_mob3.alt}}" style="display:none;">
              </a>
                 </div>
            {% endif %}            
          </div>
        </div>
        {% endif %}
        {% endif %} 
        {{ content_for_layout }}
      </main> 
    
        {% if template.suffix == 'bodylovin' %}
        {% section 'bodylovin-footer' %}        
        {% elsif template.suffix == 'phy-home' %}
        {% section 'footer-phy' %}
         {% else %} 
        {% section 'footer' %}
        {% endif %}
        {% include 'footer_scripts' %}
      <div id="back-top" style="display: none;">
        <a class="nav_up" href="#top" title="Back to top">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 17 33" xml:space="preserve" style="transform: rotate(31deg);"><g id="e4eb89a6-f885-43b8-9259-0d6b1516fab0"><g id="_x38_e584754-6657-46f1-a9d8-2cfd6623b552"><g><polygon points="14.9,14.5 0,0 0,3.7 11.1,14.5 13.2,16.5 11.1,18.5 0,29.3 0,33 14.9,18.5 17,16.5 "></polygon></g></g></g></svg>
        </a>
      </div>  
    </div>
  {% if product.tags contains 'custom_offer'  %}
  {% else %}
  {% comment %}{% include 'search-autocomplete' %}{% endcomment %}
  {% endif %}
  {% if settings.header_layout == 'default' %}
  {% else %}
  <div class="translate-header" data-translate-header>
    {% include 'wrapper-top-cart' %}
  </div>
  {% endif %}

   {% include 'message-modal' %}

  <div class="wrapper-overlay"></div>
  <!--   Add to cart button Disable COVID-19 -->

  <!-- **BEGIN** Hextom USB Integration // Main Include - DO NOT MODIFY -->
  {% render 'hextom_usb_main', product: product, customer: customer %}
  <!-- **END** Hextom USB Integration // Main Include - DO NOT MODIFY -->
   {% if template contains 'product'or template contains 'wish-list' %}
   {% include 'iwish_v2' with 'iwishfooter' %}
   {% endif %}

   <div class="index-section--flush powr-popup" id="5d2890ee_1596100179"></div>
    {% include 'swin-widgets' %}

   {% if fg_script_url !="" %}    
      {{ fg_script_url |remove:"\" | script_tag }}
    {% endif %}

 {% if template contains 'collection' %}
<!--begin-boost-pfs-js-->
  {% render 'boost-pfs' %}
<!--end-boost-pfs-js-->
  {% endif %} 
   <script src="https://apis.google.com/js/platform.js?onload=renderOptIn" async defer></script>
   <script>
    window.renderOptIn=function(){window.gapi.load('surveyoptin',function(){window.gapi.surveyoptin.render({"merchant_id":101052751,"order_id":"ORDER_ID","email":"CUSTOMER_EMAIL","delivery_country":"COUNTRY_CODE","estimated_delivery_date":"YYYY-MM-DD","products":[{"gtin":"GTIN1"},{"gtin":"GTIN2"}]});});}
   </script>  
    
  {% include 'social-login' %}

     {% if template contains 'product' %}
      <!-- share button  -->
    <span id='mobile-share-button'><i class="fa fa-share-alt" aria-hidden="true"></span>
    <script type="text/javascript">
    $('#mobile-share-button').on('click', () => {
    console.log('touch');  
    if (navigator.share) {
    console.log('saddddddd');
      navigator.share({
          title: '{{ product.title }}',
          url: '{{ canonical_url }}'
        })
        .then(() => console.log('Successful share'))
        .catch((error) => console.log('Error sharing', error));
    } else {
      console.log('Share not supported on this browser, do it the old way.');
    }
    });
    </script>
   {% endif %}

     
</body>

<script>    
  // script for searchTap and diable right click on site
$(".st-search-bar input").on("keypress", function() {
	var e = this.value;
	e.length > 2 && clevertap.event.push("Searched Product", {
		Terms: e,
		Date: new Date
	})
});
  
  {% if customer %}
  ('#wzrk-confirm').on('click', function(event){
    clevertap.event.push("AllowedNotification", {
      phone: '{{ customer.phone }}',
      email: '{{ customer.email }}',
      name: '{{ customer.name }}',
      id: parseInt('{{ customer.id }}'),
      lastName: '{{ customer.last_name }}',
      firstName: '{{ customer.first_name }}',
      city: '{{ customer.default_address.city }}',
      acceptsMarketing: '{{ customer.accepts_marketing }}',
      hasAccount: '{{ customer.has_account }}',
      ordersCount: parseInt('{{ customer.orders_count }}'),
      taxExempt: '{{ customer.tax_exempt }}',
      totalSpent:  (parseFloat('{{ customer.total_spent }}') / 100).toFixed(2)
    }); 
  });


  var customer_email = '{{ customer.email }}'
  var first_name='{{customer.first_name}}'
  var last_name='{{customer.last_name}}'
  if (customer_email!=''){
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      'first_name':first_name,
      'last_name':last_name,
      'event':'login_email',
      'login_email':customer_email
    });

    {% else %}
    var UserID = clevertap.getCleverTapID();
    clevertap.event.push("AllowedNotification", {
      id : UserID
    }); 
    {% endif %}
       
</script>
<script>
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.0.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.0.0/firebase-analytics.js";
    const firebaseConfig = {
      apiKey: "AIzaSyCvJYtBReOCkL-gKJ4w2RRo1jm5QvWZ5V0",
      authDomain: "plumgoodness-dd440.firebaseapp.com",
      projectId: "plumgoodness-dd440",
      storageBucket: "plumgoodness-dd440.appspot.com",
      messagingSenderId: "56470358262",
      appId: "1:56470358262:web:61c2e5dccfc0bbc75284d7",
      measurementId: "G-R900HWQBNG"
    };
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
</script>
<script>
 window.addEventListener('message', (event) => {
  if (event.data && event.data.type && event.data.type.startsWith('fw:')) {
    if(event.data.type == "fw:player:quit" ||
       event.data.type == "fw:player:transition"){  
        cartUtil.updateDropdownCart();                      

  }  
    else if(event.data.type == "fw:shopping:cart-updated"){
        setTimeout(function() {
         cartUtil.updateDropdownCart();                      
       }, 300);
    }
  }      
})
 
$('.clear_cart').on('click', function(){
   $.ajax({
    type: "POST",
    url: '/cart/clear.js',
    data: '',
    dataType: 'json',
    success: function() { 
      location.reload();
    },
    error: function(XMLHttpRequest, textStatus) {
      /* error code */
    }
  });
}) 
 
</script>
</html>