{% if section.blocks.size > 0 %}

{% assign- autoplay = section.settings.autoplay -%}
{% assign- autoplaySpeed = section.settings.slideshow_speed -%}
{% assign- fade = section.settings.slideshow_transition -%}
{% assign- dots =  section.settings.dots -%}

<section class="home-slideshow" id="slideshow-{{section.id}}">
    <div class="{% if section.settings.layout == 'default' %}container{% elsif section.settings.layout == 'padd_60' %}container-padd60{% else %}container-fluid{% endif %}">
        <div class="row">
            <div class ="no-padd col-12">
              {% if section.settings.heading_slider != blank %}
              <div class="widget-title no-des">   
                <h3 class="box-title">
                  <span class="title"> 
                    <span>
                      {{section.settings.heading_slider}}
                    </span>
                  </span>
                </h3>
              </div>
              {% endif %}
                <div class="slideshow" data-auto-video="{{ section.settings.auto_playvideo }}"{% if section.blocks.size > 1 %} data-init-slideshow data-dots="{{ dots }}" data-autoplay="{{ autoplay }}" data-autoplay-speed="{{ autoplaySpeed }}" data-fade="{{ fade }}"{% endif %}>
               {% for block in section.blocks %}
               {% if block.settings.dpl_slide_img %}
                <div class="item">
                {% if block.type == 'image' and block.settings.dpl_slide_img %}

                    <div class="images-contain">
                        {% if block.settings.image_slide != blank %}

                        {%- assign img_url = block.settings.image_slide | img_url: 'master' -%}
 
                        <a {% if block.settings.lb_product_1 != blank or block.settings.lb_product_2 != blank or block.settings.lb_product_3 != blank %}href="javascript:void(0)"{% else %}href="{{ block.settings.link }}"{% endif %} class="slide-image home_banner">
                            <img data-src="{{ img_url }}"
                                src="https:{{ img_url }}" alt="{{ block.settings.image_slide.alt | default: shop.name }}" itemprop="logo"
                                class="lazyautosizes{% if block.settings.image_slide_mb != blank %} mediabox-img slide-pc{% endif %}" data-sizes="auto">

                            {% if block.settings.image_slide_mb != blank %}

                            {%- assign img_url_mb = block.settings.image_slide_mb | img_url: 'master' -%}

                            <img data-src="{{ img_url_mb }}"
                                src="https:{{ img_url_mb }}" alt="{{ block.settings.image_slide_mb.alt | default: shop.name }}" itemprop="logo"
                                class="lazyautosizes mediabox-img slide-mobile" data-sizes="auto">
                            {% endif %}
                        </a>

                        {% else %}

                        <div class="not_img">
                            1880 x 720px
                        </div>
                        {% endif %}
                    </div>
                {% endif %}
                
                </div>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}

{% schema %}
    {
        "name": "Slideshow",
        "class": "home-slideshow-sections",
        "max_blocks": 10,
        "settings": [
            {
                "type": "select",
                "id": "layout",
                "label": "Slideshow Layout:",
                "options": [
                    {
                        "value": "default",
                        "label": "Default"
                    },
                    {
                        "value": "padd_60",
                        "label": "Boxed"
                    },
                    {
                        "value": "full",
                        "label": "Full Width"
                    }
                ],
                "default": "full"
            },
            {
                "type": "text",
                "id": "heading_slider",
                "label": "Heading"
            },
            {
                "type": "header",
                "content": "Margin Bottom:"
            },
            {
                "type": "range",
                "id": "margin_bottom_mb",
                "label": "Mobile",
                "min": 0,
                "max": 100,
                "step": 1,
                "default": 20
            },
            {
                "type": "range",
                "id": "margin_bottom_tab",
                "label": "Tablet",
                "min": 0,
                "max": 100,
                "step": 1,
                "default": 20
            },
            {
                "type": "range",
                "id": "margin_bottom",
                "label": "Desktop",
                "min": 0,
                "max": 100,
                "step": 1,
                "default": 30
            },
            {
                "type": "header",
                "content": "Settings for Slideshow"
            },
            {
                "type": "checkbox",
                "id": "autoplay",
                "label": "Slideshow Auto Play",
                "default": true
            },
            {
                "type": "select",
                "id": "slideshow_speed",
                "label": "Change slides every",

                "options": [
                    { "value": "5000", "label": "5 seconds" },
                    { "value": "6000", "label": "6 seconds" },
                    { "value": "7000", "label": "7 seconds" },
                    { "value": "8000", "label": "8 seconds" },
                    { "value": "9000", "label": "9 seconds" },
                    { "value": "10000", "label": "10 seconds" }
                ],
                "default": "5000"
            },
            {
                "type": "select",
                "id": "slideshow_transition",
                "label": "Slideshow transition effect",
                "options": [
                    {
                    "value": "false",
                    "label": "Slide"
                    },
                    {
                    "value": "true",
                    "label": "Fade"
                    }
                ],
                "default": "true"
            },
            {
                "type" : "radio",
                "id" : "dots",
                "label" : "Show Dots for Slideshow (Desktop)",
                "options": [
                    {
                        "value": "true",
                        "label": "True"
                    },
                    {
                        "value": "false",
                        "label": "False"
                    }
                ],
                "default": "true"
            },
            {
                "type": "color",
                "id": "dots_color",
                "label": "Dots color",
                "default": "#707979",
                "info": "Default Value: #707979"
            },
            {
                "type": "color",
                "id": "dots_active_color",
                "label": "Dots Active color",
                "default": "#505656",
                "info": "Default Value: #505656"
            },
            {
                "type": "checkbox",
                "id": "dots_opacity",
                "label": "Dots Opacity (80%)",
                "default": false,
                "info": "================="
            },
            {
                "type": "color",
                "id": "arrow_color",
                "label": "Arrow color",
                "default": "#666d6d",
                "info": "Default Value: #666d6d"
            },
            {
                "type": "color",
                "id": "arrow_border_color",
                "label": "Arrow Border color",
                "default": "#666d6d",
                "info": "Default Value: #666d6d"
            },
            {
                "type": "color",
                "id": "arrow_bg_color",
                "label": "Arrow background color",
                "default": "#fff",
                "info": "Default Value: #fff"
            },
            {
                "type" : "text",
                "id" : "position_slick_arrow",
                "label" : "Position Arrow - Unit % or px",
                "default" : "10%"
            },
            {
                "type" : "text",
                "id" : "min_width_banner_button",
                "label" : "Banner Button Width",
                "info": "Ex: 270px"
            },
            {
                "type": "header",
                "content": "Settings for Video"
            },
            {
                "type" : "color",
                "id" : "bg_video",
                "label" : "Background Color video",
                "default" : "#866965"
            },
            {
                "type": "range",
                "id": "bg_overlay_opacity",
                "label":"Opacity",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "default": 40
            },
            {
                "type": "text",
                "id": "video_height",
                "label": "Slideshow Video Height",
                "default": "41.7%",
                "info": "You can adjust the height of video to be fit with slider image by %. Example: 30%, 47.25%, 51%."
            },
            {
                "type": "checkbox",
                "id": "auto_playvideo",
                "label": "Autoplay video",
                "default": true
            }
        ],

        "blocks" : [
            {
                "type": "image",
                "name": "Image SlideShow",
                "settings":[
                    {
                        "type": "checkbox",
                        "id": "dpl_slide_img",
                        "label" : "Enable",
                        "default" : true
                    },
                    {
                        "type": "image_picker",
                        "id": "image_slide",
                        "label" : "Select Image",
                        "info": "Recommended Image: Width x Height (1880 x 720)px"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_slide_mb",
                        "label" : "Select Image Mobile",
                        "info": "Recommended Image: Width x Height (450 x 300)px"
                    },
                    {
                        "type" : "url",
                        "id" : "link",
                        "label" : "Slide link"
                    },
                    {
                        "type": "select",
                        "id": "alignment",
                        "label": "Text alignment",
                        "default": "left",
                        "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                        ]
                    }
                ]
            }
            
        ],
        "presets": [{
            "name": "Home Slideshow",
            "category": "Home Slideshow",
            "blocks": [
                {
                    "type": "image"
                }
            ]
        }]
    }
{% endschema %}


