{% if section.settings.show_instagram %}

{{ 'jquery.instagramFeed.min.js' | asset_url | script_tag }}

<section class="home-instagram" id="new-instagram-{{section.id}}">
  <div class="{% if section.settings.layout == 'default' %}container{% else %}container-fluid{% endif %}">
  		<div class="instafeed" class="row" data-username="{{ section.settings.username }}" data-rows="{{ section.settings.images_per_row }}">
  			<div id="bodylovin_instagram"></div>
  		</div>
      {% if section.settings.instagram_des != blank %}
      <p>
        {% include 'multilang' with section.settings.instagram_des %}
      </p>        
      {% endif %}
  </div>
</section>

<style>
    {% assign instagram_bg =  section.settings.instagram_bg %}

    {% unless section.settings.display_arrow %}
    #new-instagram-{{section.id}} .item {
        padding: 0 2.5px;
    }
    {% endunless %}

    {% if section.settings.display_border_top %}   
    #new-instagram-{{section.id}} {
        border-top: 1px solid #ebebeb;
    }
    {% endif %}

    #new-instagram-{{section.id}},
    #new-instagram-{{section.id}} .widget-title .box-title .title {
        background-color: {{ instagram_bg }};
    }   

    {% if section.settings.title_style == 'style_1' %}
    #new-instagram-{{section.id}} {
        padding-top: 0;
    }
    {% endif %}
    {% if section.settings.slide_rows == '2' %}
    #instafeed .item{
        padding-bottom: 5px;
    }
    {%endif%}
    @media ( max-width: 786px ) {
      .homepage-video-section {
        padding-bottom: 20px;
      }
    }
    {% assign margin_bottom =  section.settings.margin_bottom %} 

    @media (max-width: 767px) {
      #new-instagram-{{section.id}} {
        margin-bottom: {{ section.settings.margin_bottom_mb }}px;
      }
    }

    @media (min-width: 768px) and (max-width: 1199px) {
      #new-instagram-{{section.id}} {
        margin-bottom: {{ section.settings.margin_bottom_tab }}px;
      }
    }

    @media (min-width: 1200px) {
      #new-instagram-{{section.id}} {
        margin-bottom: {{ margin_bottom }}px;
      }
    }	
</style>
<script >
    (function($){
        $(window).on('load', function(){
        	var username = '{{ section.settings.username }}';
        	var images_per_row = '{{ section.settings.images_per_row }}';
        	console.log(images_per_row);
            $.instagramFeed({
                'username': username,
                'container': "#bodylovin_instagram",
                'display_profile': false,
                'display_biography': true,
                'display_gallery': true,
                'display_igtv': true,
                'styling': true,
                'items': 8,
                'items_per_row': 4,
              	'get_data': true,
                'margin': 1,
                'callback': function(data){
	                var mediaArray = data["edge_owner_to_timeline_media"]["edges"];
	                $(mediaArray).each(function(index,value){
	                	let URL = value["node"]["shortcode"];
	                	let the_image = value["node"]["thumbnail_resources"][3]["src"];
	                	let create_html = '<div><a href="https://www.instagram.com/p/'+URL+'" class="instagram_feeds" rel="noopener" target="_blank"><img src="'+the_image+'"></a></div>'; 
	                	$('#bodylovin_instagram').append(create_html);
	                }); 
	                $('#bodylovin_instagram').slick({
						infinite: true,
						slidesToShow: images_per_row,
						slidesToScroll: 1,
						autoplaySpeed:1500,
						swipe: true,
						swipeToSlide:true,
						touchMove:true,
				        nextArrow: '<button type="button" class="slick-next"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 17 33" xml:space="preserve"><g id="e4eb89a6-f885-43b8-9259-0d6b1516fab0"><g id="_x38_e584754-6657-46f1-a9d8-2cfd6623b552"><g><polygon points="14.9,14.5 0,0 0,3.7 11.1,14.5 13.2,16.5 11.1,18.5 0,29.3 0,33 14.9,18.5 17,16.5 "></polygon></g></g></g></svg></button>',
				        prevArrow: '<button type="button" class="slick-prev"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 33"><g id="7f9a1925-e8c7-4614-8787-3c6095a9f6e1" data-name="Layer 2"><g id="c9b7920a-81fa-4bfe-ad13-4da717c6854b" data-name="Layer 1"><g id="c2d982ff-0cf6-4220-b365-47f30d708fea" data-name="e4eb89a6-f885-43b8-9259-0d6b1516fab0"><g id="f51d455e-6b9c-4c4e-96db-a5004582beda" data-name="8e584754-6657-46f1-a9d8-2cfd6623b552"><polygon points="0 16.5 2.1 18.5 17 33 17 29.3 5.9 18.5 3.8 16.5 5.9 14.5 17 3.7 17 0 2.1 14.5 0 16.5"></polygon></g></g></g></g></svg></button>',
						  responsive: [
						    {
						      breakpoint: 1024,
						      settings: {
						        slidesToShow: 3,
						        slidesToScroll: 3,
						        infinite: true,
						        dots: true
						      }
						    },
						    {
						      breakpoint: 600,
						      settings: {
						        slidesToShow: 2,
						        slidesToScroll: 2
						      }
						    },
						    {
						      breakpoint: 480,
						      settings: {
						        slidesToShow: 1,
						        slidesToScroll: 1
						      }
						    }
						 ]
				    });
                }
            });
        });
    })(jQuery);
</script>

{% endif %}

{% schema %}
  {
    "name": "Bodylovin Instagram",
    "class": "home-instagram-sections",
    "settings": [   
        {
            "type": "checkbox",
            "id": "show_instagram",
            "label": "Enable",
            "default": true
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Layout:",
            "options": [
                {
                    "value": "default",
                    "label": "Default"
                },
                {
                    "value": "full",
                    "label": "Full Width"
                }
            ],
            "default": "default"
        },
        {
            "type": "checkbox",
            "id": "display_border_top",
            "label": "Display Border?",
            "default": false
        },
        {
            "type" : "color",
            "id" : "instagram_bg",
            "label" : "Background Color",
            "default" : "#fafafa"
        },
        {
            "type": "textarea",
            "id": "instagram_title",
            "label": "Title",
            "default": "#Ella On Instagram"
        },
        {
            "type": "textarea",
            "id": "instagram_des",
            "label": "Instagram Description",
            "default": "Phasellus lorem malesuada ligula pulvinar commodo maecenas"
        },
        {
            "type": "select",
            "id": "title_style",
            "label": "Title Style:",

            "options": [
                {
                    "value": "style_1",
                    "label": "Style 1" 
                },
                { 
                    "value": "style_2",
                    "label": "Style 2" 
                }          
            ],
            "default": "style_1"
        },
        {
            "type": "text",
            "id": "username",
            "label": "Username",
            "default": "plumbodylovin",
            "info": "Instagram Username"
        },
        {
            "type": "text",
            "id": "limit",
            "label": "Limit the number of images to show",
            "default": "10",
            "info": "Maximum limit of images is 12"
        },
        {
            "type": "select",
            "id": "images_per_row",
            "label": "Images per row",
            "options": [
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                },
                {
                    "value": "6",
                    "label": "6"
                },
                {
                    "value": "7",
                    "label": "7"
                },
                {
                    "value": "8",
                    "label": "8"
                },
                {
                    "value": "9",
                    "label": "9"
                },
                {
                    "value": "10",
                    "label": "10"
                }
            ],
            "default": "5"
        },
		{
            "type": "header",
            "content": "Margin Bottom:"
        },
        {
            "type": "range",
            "id": "margin_bottom_mb",
            "label": "Mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 40
        },
        {
            "type": "range",
            "id": "margin_bottom_tab",
            "label": "Tablet",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 40
        },             
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin Bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 0
        }
    ],
    "presets": [
        {
            "name": "Bodylovin Instagram",
            "category": "Instagram"
        }
    ]
  }
{% endschema %}
