<header class="collection-header collection-header-sections">
  {% if section.settings.display_collection_image %}

  {% if collection.image %}
  {%- assign img_url = collection.image | img_url: 'master' -%}
  {%- assign img_url_mobile = collection.image | img_url: '768x' -%}

  {% elsif collection.description contains 'img' %}
  {%- assign img_url = collection.description | split: '<img' | last | split: '>' | first -%}
  {%- assign img_url_mobile = collection.description | split: '<img' | last | split: '>' | first -%}

  {% endif %}

  <div class="collection-image">
    <div class="collection-desktop-img">
      {% if collection.image or collection.description contains 'img' or section.settings.collection_image != blank  %}
      {% if collection.image %}
      <img data-src="{{ img_url }}" src="{{ img_url }}" alt="{{ collection_title }}" class="lazyautosizes lazyloaded" data-sizes="auto"/>
      {% else %}
      {% include 'mobile-collection-image', id:collection.handle %}
      {% endif %}

      {% else %}
      {% endif %}      
      <div class="page-header tab-abs">
        <h1>
          {% include 'multilang' with collection.title %}
        </h1>
      </div>
    </div>
    {% endif %}
  {% assign collection_mobile_banner = collection.metafields.collection['collection mobile banner'] %}
   <div class="collection-mobile-img {% if collection_mobile_banner != 0 and collection_mobile_banner != blank %}{% else %}no-meta-image{% endif %}{% if section.settings.collection_image != blank %}style="height:0;"{% else %}style="height:0;"{% endif %}  " {% if collection_mobile_banner != 0 and collection_mobile_banner != blank %}{% else %}style="background-image:url('{{ img_url_mobile }}')"{% endif %} >     

     {% if collection_mobile_banner != 0 and collection_mobile_banner != blank %}
      <img data-src="{{ collection_mobile_banner }}" src="{{ collection_mobile_banner }}" class="lazyautosizes lazyloaded">
      {% endif %}
    </div>    
  </div>

{% comment %}
  <h1>
    {% include 'multilang' with collection.title %}
  </h1>
  {% endcomment %}

  {% if collection.title == 'The Republic Day Sale' %}
  <div class="republic-day">
    <p style="font-size:20px">how to redeem the offer* ?</p>
    <p><b style="font-weight: 700;">step 1 :</b> pick 3 or more plums of your choice & add them to your shopping bag</p>
    <p><b style="font-weight: 700;">step 2 :</b> enter discount code:<b> REPUBLIC</b> at checkout page</p>
    <p><b style="font-weight: 700;">step 3 :</b> plum with the lowest value will be free</p>
    <p><b>*offer not valid on bundles</b></p>
  </div>
  {% endif %}


</header>

<div class="collection-wrapper page-header">
  <div class="{% if settings.category_layout == "full_with" or template.suffix == 'fullwidth' %}container-padd60{% else %}container{% endif %}" style="text-align: center;">

    <h1 class="collection_title">
      {% include 'multilang' with collection.title %}
    </h1>

    {% if collection.description != '' and section.settings.display_collection_des %}
    <div class="collection-des">
      {% if settings.enable_multilang and collection.description contains '[lang2]' %}      
      <div class="rte lang1">
        {{ collection.description | split: '[lang2]' | first | trip_html }}
      </div>
      <div class="rte lang2">
        {{ collection.description | split: '[lang2]' | last | trip_html }}
      </div>
      {% else %}
      <div class="rte">
        {{ collection.description | split: '[lang2]' | first | trip_html }}
      </div>
      {% endif %}
    </div>      
    {% endif %}
  </div>    
</div>

{% schema %}
{
"name": "collection-header",
"settings": [
{
"type": "checkbox",
"id": "display_collection_image",
"label": "Show collection image?",
"default": true
},
{
"type": "image_picker",
"id": "collection_image",
"label": "Image Category",
"info": "This image will show up when you don't add image in Collections Description"
},
{
"type": "checkbox",
"id": "display_collection_des",
"label": "Display Collections Description?",
"default": true
},
{
"type" : "color",
"id" : "color_wrapper",
"label" : "Color Wrapper",
"default" : "#fff"
},
{
"type" : "text",
"id" : "height_img",
"label" : "Image height",
"default" : "240px"
}
]
}
{% endschema %}