<div class="featured-collection" id="featured-collection-{{section.id}}" data-collection-products>
  <div class="container-padd60">
    <div class="row">
            {% if section.settings.banner_heading != blank %}
            <h3 class="banner-heading"
                style="{% if section.settings.font_size_banner_heading != blank %}
                       font-size: {{ section.settings.font_size_banner_heading }};
                       {% endif %}
                       {% if section.settings.color_banner_heading != blank %}
                       color:{{ section.settings.color_banner_heading }};
                       {% endif %}">
              {% include 'multilang' with section.settings.banner_heading  %}
            </h3>
            {% endif %}
          <div class="widget-product ">
          <div class="products-grid row" data-row="4">
            {% for block in section.blocks %}
            <div class="grid-item col-3">
             <div class="block-wrapper">
            <div class="image-wrapper">
              {% assign collection = block.settings.collection %}
              <a href="{{ collection.url }}">
                {%- assign img_url = block.settings.image_desk | img_url: '200x' , format: 'pjpg'-%}
                {% if block.settings.image_desk != blank %}
                <img data-src="{{ img_url }}"
                     src="{{ img_url }}" alt="{{ block.settings.image_desk.alt | default: shop.name }}" itemprop="logo"
                     class="lazyautosizes lazyload" data-sizes="auto">
                {% else %}
                <div class="not_img">
                  725 x 640px
                </div>   
                {% endif %}
              </a>
              <span class="title_block">{{ collection.title }}</span>
            </div>            
            </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Collection Carousel",
	"class": "home-collection-carousel",
    "max_blocks": 10,
    "settings": [ 
	  {
		"type": "header",
		"content": "Banner Image"
      }, 	  
      {
        "type": "image_picker",
        "id": "image",
        "label" : "Select Image"
      },
      {
        "type" : "text",
        "id" : "banner_heading",
        "label" : "Banner Heading",
        "default" : "#CAMPAIGNS"
      },
	  {
		"type": "header",
		"content": "Featured Collection"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection list",
        "settings": [		  	
          {
            "type": "image_picker",
            "id": "image_desk",
            "label": "Image Desktop",
            "info":  "Small(370X240) / large(770x240)"
          },
          {
            "type" : "text",
            "id" : "title",
            "label" : "Title",
            "default" : "Lorem De Dorus"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ],
	"presets": [
      {
        "name": "Collection Carousel",
        "category": "Collection",
          "blocks": [
          {
            "type": "collection"
          }
        ]
      }
      
    ]
  }
{% endschema %}