<div class="col-12 col-md-12">

{% for block in section.blocks %}
  {% case block.type %}
    {% when 'slide' %}
      <div class="slide " {{ block.shopify_attributes }}>
        
        {% if  block.settings.image != blank %}
        <img class="slide aff_desktop" src="{{ block.settings.image | img_url: 'master' }}"  alt="{{block.settings.image.alt}}">
        {% endif %}
        {% if  block.settings.image_mob != blank %}
         <img class="slide aff_mobile" src="{{ block.settings.image_mob | img_url: 'master' }}"  alt="{{block.settings.image_mob.alt}}" style="display:none;">
        {% endif %}
        
      </div>
  {% endcase %}
{% endfor %}

</div>
{% schema %}
{
  "name": "Affiliate Second Section",
  "class": "affiliate-second-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Affiliate Second Section"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },{
           "type": "image_picker",
           "id": "image_mob",
           "label": "Image"
         }
       ]
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
