<header class="page-header" style="border-bottom: 1px solid #959595; margin-bottom: 20px;">
  <h1 class="blog-headline">
    <span class="blog-read">FREQUENTLY ASKED QUESTIONS</span>
  </h1>  
</header>
<section id="faqs_page">
  {% if section.settings.des_faqs != blank %}
  <div class="des_faqs">
    {% include 'multilang' with section.settings.des_faqs %}
  </div>
  {% endif %}

  <div class="panel-group">
    {% for block in section.blocks %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" href="#faqs-{{block.id}}" style="border-bottom: 1px solid #d7d7d7;">
            {% include 'multilang' with block.settings.question_faqs %}
          </a>
        </h4>    
      </div>
      <div id="faqs-{{block.id}}" class="panel-collapse collapse{% if forloop.first %}{% endif %}">
        <div class="panel-body">
          {% if settings.enable_multilang and block.settings.answer_faqs contains '|' %}
          <div class="lang1">
            {{ block.settings.answer_faqs | split: '|' | first }}
          </div>
          <div class="lang2">
            {{ block.settings.answer_faqs | split: '|' | last }}
          </div>
          {% else %}
          <div>
            {{ block.settings.answer_faqs | split: '|' | first }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% if section.settings.contact_text != blank or section.settings.contact_link_text != blank %}
  <div class="contact-link">
    {% if section.settings.contact_text != blank %}
    <span class="text">
      {% include 'multilang' with section.settings.contact_text  %}
    </span>
    {% endif %}
    {% if section.settings.contact_link_text != blank %}
    <a href="{{ section.settings.contact_link }}" class="btn">
      {% include 'multilang' with section.settings.contact_link_text  %}
    </a>
    {% endif %}
  </div>
  {% endif %}
</section>

<style>
.panel-group {
    text-align: left;
}
  .des_faqs span {
    font-size: 40px;
    text-transform: lowercase;
    color: #450466;
  }
  h4.panel-title span {
    width: 100%;
    font-weight: 600;
  }
  .faqs-page .panel-title {
    font-size: {{ section.settings.font_size_qs }}px;
  }

  .faqs-page .panel-title > a {
    background-color: transparent;
    color: #333333;
  }

  .faqs-page .panel-title > a:not(.collapsed) {
    background-color: transparent;
    color: #333333;
  }
  .faqs-page .panel-group .panel-body {
    font-size: {{ section.settings.font_size_answer }}px;
    color: #333333;
  }

  .faqs-page .des_faqs a,
  .faqs-page.panel-group .panel-body a {
    color: #333333;
  }


  @media (max-width: 786px) {
    .faqs-page .panel-group .panel-title a:before {
      position: absolute;
      top: 12px;
      min-width: inherit;
      margin-right: 0;
      right: 0;
    }
    .des_faqs span {
      font-size: 28px;
    }
    .faqs-page .panel-title > a:before {
      content: "\2212";
      font-size: 20px;
      color: #373737;
      font-family: FontAwesome;      
      cursor: pointer;
    }  
    .faqs-page .panel-title > a.collapsed:before {
      content: "\002B";
      font-size: 20px;
      color: #373737;
      font-family: FontAwesome;
      cursor: pointer; 
    }  

  }
  .panel-group .panel-title a:after {
    content: "\002B";
    color: #252525;
    font-family: FontAwesome;
    font-weight: 500;
    font-size: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    margin: 0;
    z-index: 2;
    width: 0;
    float: right;
    padding: 0;
    cursor: pointer;
    margin-top: 0;
  }
  .panel-group .panel-title a:not(.collapsed):after {
    content: "\2212";
    font-size: 20px;
    color: #252525;
  }
  .panel-group .panel-title a {
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    padding-right: 65px;
    position: relative;
    padding: 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }
  .panel-group .panel-body {
    padding-top: 26px;
    padding-bottom: 10px;
    line-height: 26px;
    padding: 9px 25px 7px 12px;
  }
</style>


{% schema %}
{
"name": "Empties4Good FAQ",
"settings": [
{
"type": "textarea",
"id" : "des_faqs",
"label" : "Description"
},
{
"type" : "header",
"content" : "Contact"
},
{
"type" : "textarea",
"id" : "contact_text",
"label" : "Contact Text",
"default" : "Unable to find satisfactory answers ?"
},
{
"type" : "textarea",
"id" : "contact_link_text",
"label" : "Contact Link Text",
"default" : "Contact Support"
},
{
"type" : "url",
"id" : "contact_link",
"label" : "Contact link"
},

{
"type": "header",
"content": "Question"
},
{
"type" : "text",
"id" : "icon_faqs",
"label" : "Icon Faqs",
"default" : "Q"
},
{
"type" : "color",
"id" : "bg_icon_qs",
"label" : "Background Icon",
"default" : "#000"
},
{
"type" : "color",
"id" : "color_icon_qs",
"label" : "Icon Color",
"default" : "#fff"
},
{
"type" : "color",
"id" : "bg_question",
"label" : "Background Question",
"default" : "#f5f5f5"
},
{
"type" : "color",
"id" : "color_question",
"label" : "Color Question",
"default" : "#000"
},
{
"type" : "text",
"id" : "font_size_qs",
"label" : "Font size Question",
"default" : "13"
},
{
"type" : "color",
"id" : "bg_question_acitve",
"label" : "Background Icons Question Active",
"default" : "#FF8B21"
},
{
"type" : "color",
"id" : "color_question_acitve",
"label" : "Color Question Active",
"default" : "#fff"
},

{
"type": "header",
"content": "Answer"
},
{
"type" : "text",
"id" : "icon_answer",
"label" : "Icon Answer",
"default" : "A"
},
{
"type" : "color",
"id" : "bg_icon_answer",
"label" : "Background Icon Answer",
"default" : "#fff"
},
{
"type" : "color",
"id" : "color_icon_answer",
"label" : "Icon Color",
"default" : "#FF8B21"
},      
{
"type" : "color",
"id" : "color_question_answer",
"label" : "Color Answer",
"default" : "#000"
},
{
"type" : "text",
"id" : "font_size_answer",
"label" : "Font size Answer",
"default" : "12"
},
{
"type" : "color",
"id" : "color_question_link",
"label" : "Color Link",
"default" : "#FF8B21"
}

],
"blocks": [
{
"type" : "text",
"name" : "Question",
"settings":[
{
"type" : "textarea",
"id" : "question_faqs",
"label" : "Question"
},
{
"type" : "textarea",
"id" : "answer_faqs",
"label" : "Answer"
}
]
}
]
}
{% endschema %}