<section class="home-game-banner-section text-center" id="game-{{section.id}}">
  <a href="{{ section.settings.link }}" class="">
    <img class="banner-image desktop-xs" data-src="{{ section.settings.banner-id | img_url: 'master' }}" src="{{ section.settings.banner-id | img_url: 'master' }}">

    <img class="banner-image mobile-xs" data-src="{{ section.settings.image_mobile | img_url: 'master' }}" src="{{ section.settings.image_mobile | img_url: 'master' }}">
  </a>
</section>

{% schema %}
{
"name": "Banner Section",
"settings": [
{
"type": "image_picker",
"id": "banner-id",
"label": "image"
},
{
"type": "image_picker",
"id": "image_mobile",
"label": "Mobile Image"
},
{
"type": "url",
"id": "link",
"label": "Link",
"info": "Optional"
}
], "presets": [
      {
        "name": "home game banner"
      }
]
}
{% endschema %}