<div class="homepage-blog-tab-sec" id="feature-blog-{{section.id}}">
  <div class="container-padd60">
    <div class="widget-title not-before">   
      <h3 class="box-title">
        <span class="title"> 
          Our blogs
        </span>
      </h3>
    </div>
    <div class="blog-tab-sec-data">
      <ul class="tabs">
        {% if section.settings.blog_post_title1 %}
        <li class="active" rel="tab1">{{ section.settings.blog_post_title1 }}</li>
        {% endif %}
        {% if section.settings.blog_post_title2 %}
        <li rel="tab2">{{ section.settings.blog_post_title2 }}</li>
        {% endif %}
        {% if section.settings.blog_post_title3 %}
        <li rel="tab3">{{ section.settings.blog_post_title3 }}</li>
        {% endif %}
        {% if section.settings.blog_post_title4 %}
        <li rel="tab4">{{ section.settings.blog_post_title4 }}</li>
        {% endif %}
        {% if section.settings.blog_post_title5 %}
        <li rel="tab5">{{ section.settings.blog_post_title5 }}</li>
        {% endif %}
        {% if section.settings.blog_post_title6 %}
        <li rel="tab6">{{ section.settings.blog_post_title6 }}</li>
        {% endif %}
        {% if section.settings.blog_post_title7 %}
        <li rel="tab7">{{ section.settings.blog_post_title7 }}</li>
        {% endif %}
        {% if section.settings.blog_post_title8 %}
        <li rel="tab8">{{ section.settings.blog_post_title8 }}</li>
        {% endif %}
      </ul>
      <div class="tab_container">
        {% if section.settings.blog_post_title1 %}
        <h3 class="d_active tab_drawer_heading" rel="tab1">{{ section.settings.blog_post_title1 }}</h3>
        {% endif %}
        <div id="tab1" class="tab_content">
          <ul class="list-blog" id="homepage-blogs-sec1">   
            {%- assign blog = blogs[section.settings.blog_posts1] -%}
            {% for article in blog.articles limit: 4 %}
            <li class="blog-item">
              <div class="article-details">
                {% if article.image %}
                {% assign image_alt = article.title | escape %}
                <div class="article-img">
                  {{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image' | link_to: article.url | replace: '<a', '<a class="animate-scale"' }}
                </div>

                {% else %}
                <div class="article-img">
                  <img data-src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/blog.png?v=1576997571" src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/blog.png?v=1576997571"  class="lazyautosizes lazyloaded">
                </div>
                {% endif %}

                <h3 class="article-title">
                  <a href="{{ article.url }}">
                    {% include 'multilang' with article.title %}
                  </a>
                </h3> 
                <div class="rte article-excerpt">

                  <div class="actions">
                    <a href="{{ article.url }}" {% if settings.enable_multilang %}data-translate="blogs.article.read_more"{% endif %}>
                      {{ 'blogs.article.read_more' | t }}
                    </a>
                  </div>            
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          <p class="text-center"><a href="{{ blog.url }}" class="btn">View all</a></p>
        </div>
        <!-- #tab1 -->
        {% if section.settings.blog_post_title2 %}
        <h3 class="tab_drawer_heading" rel="tab2">{{ section.settings.blog_post_title2 }}</h3>
        {% endif %}
        <div id="tab2" class="tab_content">
          <ul class="list-blog" id="homepage-blogs-sec2">   
            {%- assign blog = blogs[section.settings.blog_posts2] -%}
            {% for article in blog.articles limit: 4 %}
            <li class="blog-item">
              <div class="article-details">
                {% if article.image %}
                {% assign image_alt = article.title | escape %}
                <div class="article-img">
                  {{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image' | link_to: article.url | replace: '<a', '<a class="animate-scale"' }}
                </div>

                {% else %}
                <div class="article-img">
                  <img data-src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/blog.png?v=1576997571" src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/blog.png?v=1576997571" class="lazyautosizes lazyloaded">
                </div>
                {% endif %}

                <h3 class="article-title">
                  <a href="{{ article.url }}">
                    {% include 'multilang' with article.title %}
                  </a>
                </h3> 
                <div class="rte article-excerpt">

                  <div class="actions">
                    <a href="{{ article.url }}" {% if settings.enable_multilang %}data-translate="blogs.article.read_more"{% endif %}>
                      {{ 'blogs.article.read_more' | t }}
                    </a>
                  </div>            
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          <p class="text-center"><a href="{{ blog.url }}" class="btn">View all</a></p>
        </div>
        <!-- #tab2 -->
        {% if section.settings.blog_post_title3 %}
        <h3 class="tab_drawer_heading" rel="tab3">{{ section.settings.blog_post_title3 }}</h3>
        {% endif %}
        <div id="tab3" class="tab_content">
          <ul class="list-blog" id="homepage-blogs-sec3">   
            {%- assign blog = blogs[section.settings.blog_posts3] -%}
            {% for article in blog.articles limit: 4 %}
            <li class="blog-item">
              <div class="article-details">
                {% if article.image %}
                {% assign image_alt = article.title | escape %}
                <div class="article-img">
                  {{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image' | link_to: article.url | replace: '<a', '<a class="animate-scale"' }}
                </div>

                {% else %}
                <div class="article-img">
                  <img data-src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/blog.png?v=1576997571" src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/blog.png?v=1576997571" class="lazyautosizes lazyloaded">
                </div>
                {% endif %}

                <h3 class="article-title">
                  <a href="{{ article.url }}">
                    {% include 'multilang' with article.title %}
                  </a>
                </h3> 
                <div class="rte article-excerpt">

                  <div class="actions">
                    <a href="{{ article.url }}" {% if settings.enable_multilang %}data-translate="blogs.article.read_more"{% endif %}>
                      {{ 'blogs.article.read_more' | t }}
                    </a>
                  </div>            
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          <p class="text-center"><a href="{{ blog.url }}" class="btn">View all</a></p>
        </div>
        <!-- #tab3 -->
        {% if section.settings.blog_post_title4 %}
        <h3 class="tab_drawer_heading" rel="tab4">{{ section.settings.blog_post_title4 }}</h3>
        {% endif %}
        <div id="tab4" class="tab_content">
          <ul class="list-blog" id="homepage-blogs-sec4">   
            {%- assign blog = blogs[section.settings.blog_posts4] -%}
            {% for article in blog.articles limit: 4 %}
            <li class="blog-item">
              <div class="article-details">
                {% if article.image %}
                {% assign image_alt = article.title | escape %}
                <div class="article-img">
                  {{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image' | link_to: article.url | replace: '<a', '<a class="animate-scale"' }}
                </div>

                {% else %}
                <div class="article-img">
                  <img data-src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/blog.png?v=1576997571" src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/blog.png?v=1576997571" class="lazyautosizes lazyloaded">
                </div>
                {% endif %}

                <h3 class="article-title">
                  <a href="{{ article.url }}">
                    {% include 'multilang' with article.title %}
                  </a>
                </h3> 
                <div class="rte article-excerpt">

                  <div class="actions">
                    <a href="{{ article.url }}" {% if settings.enable_multilang %}data-translate="blogs.article.read_more"{% endif %}>
                      {{ 'blogs.article.read_more' | t }}
                    </a>
                  </div>            
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          <p class="text-center"><a href="{{ blog.url }}" class="btn">View all</a></p>
        </div>
        <!-- #tab4 --> 
        {% if section.settings.blog_post_title5 %}
        <h3 class="tab_drawer_heading" rel="tab5">{{ section.settings.blog_post_title5 }}</h3>
        {% endif %}
        <div id="tab5" class="tab_content">
          <ul class="list-blog" id="homepage-blogs-sec5">   
            {%- assign blog = blogs[section.settings.blog_posts5] -%}
            {% for article in blog.articles limit: 4 %}
            <li class="blog-item">
              <div class="article-details">
                {% if article.image %}
                {% assign image_alt = article.title | escape %}
                <div class="article-img">
                  {{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image' | link_to: article.url | replace: '<a', '<a class="animate-scale"' }}
                </div>

                {% else %}
                <div class="article-img">
                  <img data-src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/blog.png?v=1576997571" src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/blog.png?v=1576997571" class="lazyautosizes lazyloaded">
                </div>
                {% endif %}

                <h3 class="article-title">
                  <a href="{{ article.url }}">
                    {% include 'multilang' with article.title %}
                  </a>
                </h3> 
                <div class="rte article-excerpt">

                  <div class="actions">
                    <a href="{{ article.url }}" {% if settings.enable_multilang %}data-translate="blogs.article.read_more"{% endif %}>
                      {{ 'blogs.article.read_more' | t }}
                    </a>
                  </div>            
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          <p class="text-center"><a href="{{ blog.url }}" class="btn">View all</a></p>
        </div>
        <!-- #tab5 --> 

        <!-- #tab6--> 
        {% if section.settings.blog_post_title6 %}
        <h3 class="tab_drawer_heading" rel="tab6">{{ section.settings.blog_post_title6 }}</h3>
        {% endif %}
        <div id="tab6" class="tab_content">
          <ul class="list-blog" id="homepage-blogs-sec6">   
            {%- assign blog = blogs[section.settings.blog_posts6] -%}
            {% for article in blog.articles limit: 4 %}
            <li class="blog-item">
              <div class="article-details">
                {% if article.image %}
                {% assign image_alt = article.title | escape %}
                <div class="article-img">
                  {{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image' | link_to: article.url | replace: '<a', '<a class="animate-scale"' }}
                </div>

                {% else %}
                <div class="article-img">
                  <img data-src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/blog.png?v=1576997571" src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/blog.png?v=1576997571" class="lazyautosizes lazyloaded">
                </div>
                {% endif %}

                <h3 class="article-title">
                  <a href="{{ article.url }}">
                    {% include 'multilang' with article.title %}
                  </a>
                </h3> 
                <div class="rte article-excerpt">

                  <div class="actions">
                    <a href="{{ article.url }}" {% if settings.enable_multilang %}data-translate="blogs.article.read_more"{% endif %}>
                      {{ 'blogs.article.read_more' | t }}
                    </a>
                  </div>            
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          <p class="text-center"><a href="{{ blog.url }}" class="btn">View all</a></p>
        </div>      


        <!-- #tab7 --> 
        {% if section.settings.blog_post_title7 %}
        <h3 class="tab_drawer_heading" rel="tab7">{{ section.settings.blog_post_title7 }}</h3>
        {% endif %}
        <div id="tab7" class="tab_content">
          <ul class="list-blog" id="homepage-blogs-sec7">   
            {%- assign blog = blogs[section.settings.blog_posts7] -%}
            {% for article in blog.articles limit: 4 %}
            <li class="blog-item">
              <div class="article-details">
                {% if article.image %}
                {% assign image_alt = article.title | escape %}
                <div class="article-img">
                  {{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image' | link_to: article.url | replace: '<a', '<a class="animate-scale"' }}
                </div>

                {% else %}
                <div class="article-img">
                  <img data-src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/blog.png?v=1576997571" src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/blog.png?v=1576997571" class="lazyautosizes lazyloaded">
                </div>
                {% endif %}

                <h3 class="article-title">
                  <a href="{{ article.url }}">
                    {% include 'multilang' with article.title %}
                  </a>
                </h3> 
              <div class="rte article-excerpt">

                  <div class="actions">
                    <a href="{{ article.url }}" {% if settings.enable_multilang %}data-translate="blogs.article.read_more"{% endif %}>
                      {{ 'blogs.article.read_more' | t }}
                    </a>
                  </div>            
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          <p class="text-center"><a href="{{ blog.url }}" class="btn">View all</a></p>
        </div>


        <!-- #tab8 --> 
        {% if section.settings.blog_post_title8 %}
        <h3 class="tab_drawer_heading" rel="tab8">{{ section.settings.blog_post_title8 }}</h3>
        {% endif %}
        <div id="tab8" class="tab_content">
          <ul class="list-blog" id="homepage-blogs-sec8">   
            {%- assign blog = blogs[section.settings.blog_posts8] -%}
            {% for article in blog.articles limit: 4 %}
            <li class="blog-item">
              <div class="article-details">
                {% if article.image %}
                {% assign image_alt = article.title | escape %}
                <div class="article-img">
                  {{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image' | link_to: article.url | replace: '<a', '<a class="animate-scale"' }}
                </div>

                {% else %}
                <div class="article-img">
                  <img data-src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/blog.png?v=1576997571" src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/blog.png?v=1576997571" class="lazyautosizes lazyloaded">
                </div>
                {% endif %}

                <h3 class="article-title">
                  <a href="{{ article.url }}">
                    {% include 'multilang' with article.title %}
                  </a>
                </h3> 
              <div class="rte article-excerpt">

                  <div class="actions">
                    <a href="{{ article.url }}" {% if settings.enable_multilang %}data-translate="blogs.article.read_more"{% endif %}>
                      {{ 'blogs.article.read_more' | t }}
                    </a>
                  </div>            
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          <p class="text-center"><a href="{{ blog.url }}" class="btn">View all</a></p>
        </div>
      </div>
      <!-- .tab_container -->
    </div>
  </div>
</div>
<div class="clearfix"></div>
<style>
  {% assign margin_bottom =  section.settings.margin_bottom %} 

  @media (max-width: 767px) {
    #feature-blog-{{section.id}} {
      margin-bottom: {{ section.settings.margin_bottom_mb }}px;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    #feature-blog-{{section.id}} {
      margin-bottom: {{ section.settings.margin_bottom_tab }}px;
    }
  }

  @media (min-width: 1200px) {
    #feature-blog-{{section.id}} {
      margin-bottom: {{ margin_bottom }}px;
    }
  }	
</style>


{% schema %}
{
"name": "Blog Tab posts",
"settings": [
{
"type": "header",
"content": "Blog"
},
{
"type": "text",
"id": "blog_post_title1",
"label": "Title 1"
},
{
"id": "blog_posts1",
"type": "blog",
"label": "Blog Posts 1"
},
{
"type": "text",
"id": "blog_post_title2",
"label": "Title 2"
},
{
"id": "blog_posts2",
"type": "blog",
"label": "Blog Posts 2"
},
{
"type": "text",
"id": "blog_post_title3",
"label": "Title 3"
},
{
"id": "blog_posts3",
"type": "blog",
"label": "Blog Posts 3"
},
{
"type": "text",
"id": "blog_post_title4",
"label": "Title 4"
},
{
"id": "blog_posts4",
"type": "blog",
"label": "Blog Posts 4"
},
{
"type": "text",
"id": "blog_post_title5",
"label": "Title 5"
},
{
"id": "blog_posts5",
"type": "blog",
"label": "Blog Posts 5"
},
{
"type": "text",
"id": "blog_post_title6",
"label": "Title 6"
},
{
"id": "blog_posts6",
"type": "blog",
"label": "Blog Posts 6"
},
{
"type": "text",
"id": "blog_post_title7",
"label": "Title 7"
},
{
"id": "blog_posts7",
"type": "blog",
"label": "Blog Posts 7"
},
{
"type": "text",
"id": "blog_post_title8",
"label": "Title 8"
},
{
"id": "blog_posts8",
"type": "blog",
"label": "Blog Posts 8"
},
{
"type": "header",
"content": "Margin Bottom:"
},
{
"type": "range",
"id": "margin_bottom_mb",
"label": "Mobile",
"min": 0,
"max": 100,
"step": 1,
"default": 40
},
{
"type": "range",
"id": "margin_bottom_tab",
"label": "Tablet",
"min": 0,
"max": 100,
"step": 1,
"default": 40
},             
{
"type": "range",
"id": "margin_bottom",
"label": "Margin Bottom",
"min": 0,
"max": 100,
"step": 1,
"default": 0
}
],
"presets": [
{
"name": "Blog Tab posts"
}
]
}
{% endschema %}