<div class="container">
  <div class="row lipstick-custom">
{% for product in collections.lipstick.products %}
  {% for variant in product.variants %}
   
   <div class="inner product-item{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %} {% if product.tags contains 'birthday20' %} birthday20{% endif %} {% if product.tags contains 'birthday40' %} birthday40{% endif %} {% if product.tags contains 'birthday50' %} birthday50{% endif %}{% if product.tags contains 'Plum 999' %} plum_999{% endif %}{% if product.tags contains 'Lipstick' %} plum-Lipstick{% endif %}" data-product-id="product-{{ product.id }}">
  <div class="inner-top">
    <div class="product-top">
      <label class="offer_label" ><a href="{{ variant.url }}"></a></label>
      <div class="product-image{% if variant.images.size > 1 and settings.image_swap %} image-swap{% endif %}">
        <span id="secomapp-fg-image-{{ product.id }}" style="display: none;"> {{ "icon-freegift.png" | asset_url | img_tag: "", "sca-fg-img-collect" }} </span>
        <span class="sca-fg-cat-list prod-show-list" style="display:none;" id="secomapp-fg-data-{{ product.id }}"> </span>
          <img alt="{{ variant.featured_image.alt | escape }}"
                       data-src="{{variant.image.src | img_url: 'large', format: 'pjpg'}}"
                       data-srcie="{{variant.image.src | img_url: 'large', format: 'pjpg'}}"
                       data-srcief="{{variant.image.src | img_url: 'large', format: 'pjpg'}}"
                       class="lazyautosizes lazyload"
                       data-widths="[180, 220 , 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                       data-sizes="auto">
     </div>

      {% include 'product-label' %}

    </div>

    {% comment %} Use for productGrid {% endcomment %}
    <div class="product-bottom">
      {% if settings.display_product_reviews %}
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {% endif %}
      {% assign Range_url = product.metafields.Product['Range_url'] %}
      {% assign rangeText =  product.metafields.Product["Range"] %}
      {% if rangeText == blank %}
      {% assign rangeText =  product.metafields.Product["Range "] %}
      {% endif %}
      {% if Range_url != blank %}
      {% if rangeText != blank %}
      <a href="{{ Range_url }}" class="range-link">{{ rangeText }}</a>
      {% endif %}
      {% else %}
      {% if rangeText != blank %}
      <span href="{{ Range_url }}" class="range-link">{{ rangeText }}</span>
      {% endif %}
      {% endif %}
      
     {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true, product: product %}
      
      <a class="product-title" href="{{ variant.url }}">
        <span class="lang1">
          {{ product.title }}
        </span>
      </a>
    
      <div class="price-box">              
        {% if on_sale %}        
        <div class="price-sale">
         <span class="price-mrp test"></span> <span class="old-price">{{ variant.compare_at_price | money }}</span>
          <span class="price-mrp test"></span><span class="special-price">{{ variant.price | money }}</span>
        </div>        
        {% else %}
        <div class="price-regular">
          <span class="price-mrp test"></span><span>{{ variant.price | money }}</span>
        </div>
        {% endif %}
      </div>
      
      {% if settings.display_button %}
      {% assign prodtemplate =  product.template_suffix %}
      {% assign variantCount = product.variants | size %}
      {% assign not_in_cart = false %}
      {% for item in cart.items %}
        {% if item.product.id == product.id  %}
          {% assign not_in_cart = true %}
          {% assign cart_value = item.quantity %}
          {% break %}
        {% endif %}
      {% endfor %}
      <div class="action">
        <form action="/cart/add" method="post" class="variants grid-product-form--{{ product.id }}" class="grid-product-form--{{ product.id }}" id="grid-product-form--{{ product.id }}" data-id="product-actions-{{ product.id }}" enctype="multipart/form-data">
          {% if sold_out %}
              <button class="btn add-to-cart-btn" type="submit" disabled="disabled" {% if settings.enable_multilang %}data-translate="products.product.unavailable"{% endif %}>
              {{ 'products.product.unavailable' | t }}
              </button>
            {% else %}
              <a class="btn" href="{{ variant.url }}" title="{{ product.title }}" {% if settings.enable_multilang %}data-translate="products.product.select_options"{% endif %}>
              {{ 'products.product.select_options' | t }}
              </a> 
        {% endif %}        
        </form>
      </div>
       {% endif %}
      
    </div>
 </div>

</div>

    
<style>
  .product-label.deactive {
    display: none !important;
}
  
.row.lipstick-custom {
    margin-top: 50px;
    margin-bottom: 30px;
}
  
.lipstick-custom .inner.product-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
    margin-bottom: 35px;
}

 .lipstick-custom .inner.product-item .inner-top {
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    background: #fff;
    padding: 0px 0px 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    border-radius: 10px;
    width: 100%;
}

.product-item .product-bottom {
    padding-left: 15px;
    padding-right: 15px;
    min-height: inherit;
}

  .taeser-banner .container-fluid {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0 !important;
}

  
.taeser-banner .container-fluid .row {
    margin: 0;
}

  .images-contain img {
    width: 100%;
}
.template-collection .main-content {
    padding-bottom: 0px !important;
}

  #shopify-section-template--14842862829628__lipstick-variants .container {
    max-width: 1270px;
}
.product-item .product-label {
    top: 0;
}

div#shopify-section-template--14842862829628__video {
    margin: 0 !important;
}


div#featured-video-template--14842862829628__video {
    margin: 0 !important;
    padding: 0;
    width: 100% !important;
    max-width: 100% !important;
}
div#featured-video-template--14842862829628__video .row {
    margin: 0;
}

div#featured-video-template--14842862829628__video .col-sm-12 {
    padding: 0;
}

div#featured-video-template--14842862829628__video img {
    border-radius: 0 !important;
    width: 100%;
}

@media only screen and (max-width:1023px){
.lipstick-custom .inner.product-item {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

  }

@media only screen and (max-width:767px){

.lipstick-custom .inner.product-item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.images-contain img {
    width: 100%;
}
.images-contain img.slide-desktop {
    display: none !important;
}

.images-contain img.slide-mobile {
    display: block !important;
}
.row.lipstick-custom {
    margin-bottom: 10px;
}

.template-collection .main-content {
    padding-bottom: 0px !important;
}
    
  }


@media only screen and (max-width:540px){
.row.lipstick-custom {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 30px;
}
.lipstick-custom .inner.product-item {
    padding: 0 5px;
  margin-bottom: 10px
}
.product-item .product-bottom {
    padding-left: 8px;
    padding-right: 8px;
}

.row.lipstick-custom {
    margin-bottom: 30px;
}

.lipstick-custom .inner.product-item .inner-top {
    padding: 0px 0px 12px;
}
  
}
  
</style>

  {% endfor %}  
{% endfor %}
</div>
</div>

  
{% schema %}
  {
    "name": "Lipstick",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
