{% include 'sca_freegift_price' with product %}
<div class="product-template product-template-default">
  <div class="halo-product-content">
  <div class="pro-page">
{{ 'product.css' | asset_url | stylesheet_tag }}
{{ 'product-bodywash.css' | asset_url | stylesheet_tag }}
<div data-section-id="{{ section.id }}" data-section-type="product" id="ProductSection-{{ section.id }}" data-enable-history-state="true" data-collections-related="/collections/{{collection.handle}}?view=related">
  <div class="product row product-default">
    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {% assign variantCount = sca_product_variantCount %}
    <div class="product-upper-section container-padd60">
    {% include 'breadcrumb' %}
      <div class="row product_top">
         <div class="col-md-5 product-photos {% if product.tags contains 'birthday20' %} birthday20{% endif %} {% if product.tags contains 'birthday40' %} birthday40{% endif %} {% if product.tags contains 'birthday50' %} birthday50{% endif %} {% if product.tags contains 'Plum 999' %} plum_999{% endif %}" data-more-view-product>
          <div class="product-img-box{% if section.settings.style_moreview == 'horizontal' %} horizontal-moreview{% elsif section.settings.style_moreview == 'left_vertical' %} left-vertical-moreview vertical-moreview{% else %} right-vertical-moreview vertical-moreview{% endif %}{% if settings.product_image_border%} grid-item-border{% endif %}">
            <div style="position: relative;" class="wrapper-images">
              <div class="product-photo-container p-slider-s">
                {% for image in product.images %}
                <div class="thumb filter-{{ image.alt | handle }}">
                  <a data-zoom class="fancybox" rel="gallery1" href="{{ image | img_url: 'original' }}" data-fancybox="images">
                    <img id="product-featured-image-{{image.id}}" src="{{ image | img_url: '750x' }}" alt="{{ image.alt | escape }}"
                         class="lazyautosizes lazyload"
                         data-src="{{ image | img_url: '750x' }}"
                         data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                         data-aspectratio="{{ image | img_url: 'original' }}"
                         data-sizes="auto">
                  </a>
                </div>
                {% endfor %}
              </div>
              {% include 'product-label' %}
            </div>

            <div class="p-slider-n" data-rows="5" data-vertical="{% if section.settings.style_moreview == 'horizontal' %}false{% else %}true{% endif %}">
              {% for image in product.images %}
              <div data-thumnail-color="{{ image.alt | handle }}" class="item filter-{{ image.alt | handle }}">
                <a href="javascript:void(0)" data-image="{{ image.src | product_img_url: '80x' }}" data-zoom-image="{{ image.src | product_img_url: '80x' }}">
                  <img src="{{ image.src | product_img_url: '80x' }}" alt="{{ image.alt | escape }}" class="lazyautosizes lazyload">
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-12 visible_desktop">
          <div class="row">
            <div class="short-desc-datas">
            {% if product.metafields.Product['Short Description'] != blank %}
            {{ product.metafields.Product['Short Description'] }}
            {% else %} 
               {{ product.metafields.Product['Short Description '] }}
            {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% assign productMetafields = product.metafields.Product %}
        <div class="col-md-7 product-shop">
          <div class="product_title_box" style="position:relative;">
            {% assign Range_url = product.metafields.Product['Range_url'] %}
            {% assign rangeText =  product.metafields.Product["Range"] %}
            {% if rangeText == blank %}
            {% assign rangeText =  product.metafields.Product["Range "] %}
            {% endif %}
            {% if Range_url != blank %}
            {% if rangeText != blank %}
            <a href="{{ Range_url }}" class="range-link">{{ rangeText }}</a>
            {% endif %}
            {% else %}
            {% if rangeText != blank %}
            <span href="{{ Range_url }}" class="range-link">{{ rangeText }}</span>
            {% endif %}
            {% endif %}
            <h1 class="product-title">
              <span class="lang1">
                {{ product.title }}<span class="varient_tx"></span>
              </span>
               <div class="grammage">
              {% assign Grammage = product.metafields.product['grammage'] %}
              {% if Grammage != 0 and Grammage != blank %}
              <label>Available in: {{ Grammage }}</label>       
              {% endif %}
            </div>
            </h1>
          </div>

          <div class="product_form_desciption">       
          {% form 'product', product, id: "add-to-cart-form", novalidate: 'novalidate' %}
          {% if settings.display_size_chart %}
          <a data-toggle="modal" data-target="#size_chart" class="size-chart-open-popup">
            {% include 'multilang' with settings.size_guide_text %}
          </a>
          {% endif %}

          <div id="product-variants" class="varient_  {% if product.options.size == 1 and product.variants[0].title == 'Default Title' %}without_variant{% endif %}{% for option in product.options %}{% if forloop.index >= 2 %}addBreak{% endif %}{% endfor %}">
            <div class="review_qtn">
              <div class="review_div">
                {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true, product: product %}
              </div>
              {% if product.available %}
              <div class="quantity">
                <label for="quantity" {% if settings.enable_multilang %}data-translate="cart.label.quantity"{%endif%}>
                  {{ 'cart.label.quantity' | t }}
                </label>
                <div class="qty-group">
                  <a href="#" data-minus-qtt class="minus button"></a>
                  <input type="text" data-qtt-id="quantity__{{ product.id }}" name="quantity" value="1">
                  <a href="#" data-plus-qtt class="plus button"></a>
                </div>
              </div>
              {% endif %}
            </div>
            {% if variantCount > 1  or product.variants[0].title != 'Default Title'  %}
            <div class="quantity_varients{% for option in product.options %}{% if option contains 'Color' %} color{% endif %}{% endfor %}">
              <select id="product-selectors" name="id" style="display: none;">
                {% for variant in product.variants %}
                {% unless variant.metafields.secomapp.freegifts %}
                {% unless variant.title contains '(Freegifts)' %}
                {% if variant.available %}
                <option data-imge="{% if variant.image.size != blank %}{{ variant.image.src | product_img_url: 'compact' }}{% else  %}{{ product.featured_image.src | product_img_url: 'compact' }}{% endif %}" {% if variant == current_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                  {{ variant.title }}
                </option>
                {% else %}
                <option value="{{ variant.id }}">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
                {%endunless%}
                {%endunless%}
                {% endfor %}
              </select>             
              
               <div class="product_title_box_mob" style="position:relative; display:none;">
            {% assign Range_url = product.metafields.Product['Range_url'] %}
            {% assign rangeText =  product.metafields.Product["Range"] %}
            {% if rangeText == blank %}
            {% assign rangeText =  product.metafields.Product["Range "] %}
            {% endif %}
            {% if Range_url != blank %}
            {% if rangeText != blank %}
            <a href="{{ Range_url }}" class="range-link">{{ rangeText }}</a>
            {% endif %}
            {% else %}
            {% if rangeText != blank %}
            <span href="{{ Range_url }}" class="range-link">{{ rangeText }}</span>
            {% endif %}
            {% endif %}
            <h1 class="product-title">
              <span class="lang1">
                {{ product.title }}
              </span>
               <div class="grammage">
              {% assign Grammage = product.metafields.product['grammage'] %}
              {% if Grammage != 0 and Grammage != blank %}
              <label>Available in: {{ Grammage }}</label>       
              {% endif %}
            </div>
            </h1>
          </div>
            </div>
            {% else %}
            <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
            {% endif %}

           
          </div>
          <div class="price_info_box">
            <div class="price-manufacturer">
            <div class="price-review price-manufacturer1" style="display:block">
                <div class="prices" style="display:block">
                  <span class="mrp {% if compare_at_price_max == blank %}color_black{% endif %}">MRP</span> 
                  {% if sca_compare_at_price > sca_price %}
                  {% if compare_at_price_max != blank %}
                  <span class="compare-price">
                    {{ sca_compare_at_price_max | money }}
                  </span>
                  {% else %}
                   <span class="compare-price"> {{ sca_compare_at_price_max | money }}</span>                
                {% endif %}
                <p class="now_at"><span class="price on-sale" itemprop="price">
                    {{ product.variants[0].price | money }}
                  </span>   
                </p>
                {% else %}
                <span class="price" itemprop="price">{{ product.variants[0].price | money }}</span>
                {% endif %}
                  <!--        Information icon        -->
              {% assign name_address_of_manufacturer = product.metafields.product['name address of manufacturer'] %}
              {% if name_address_of_manufacturer != 0 and name_address_of_manufacturer != blank %}
              <div class="tooltip price-manufacturer2">
                <img src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/info-basic_ea3ba2.svg" class="info-icon">
                <span class="tooltiptext">

                  <div class="manufacturer-box">
                    <p class="manufact-text">Name & address of manufacturer</p>
                    <p class="manufact-add">{{ name_address_of_manufacturer }}</p>
                  </div>


                  {% assign countries_of_origin = product.metafields.product['countries of origin'] %}
                  {% if countries_of_origin != 0 and countries_of_origin != blank %}
                  <div class="manufacturer-box">
                    <p class="manufact-text">Country of origin</p>
                    <p class="manufact-add">{{ countries_of_origin }}</p>
                  </div>
                  {% endif %}

                  {% assign category = product.metafields.product['category'] %}
                  {% if category != 0 and category != blank %}
                  <div class="manufacturer-box">
                    <p class="manufact-text">Category</p>
                    <p class="manufact-add">{{ category }}</p>
                  </div>
                  {% endif %}

                  {% assign number_of_items = product.metafields.product['number of items'] %}
                  {% if number_of_items != 0 and number_of_items != blank %}
                  <div class="manufacturer-box">
                    <p class="manufact-text">No of items</p>
                    <p class="manufact-add">{{ number_of_items }}</p>
                  </div>
                  {% endif %}

                  {% assign expiry_date = product.metafields.product['expiry date'] %}
                  {% if expiry_date != 0 and expiry_date != blank %}
                  <div class="manufacturer-box">
                    <p class="manufact-text">Best Before Date</p>
                    <p class="manufact-add">{{ expiry_date }}</p>
                  </div>
                  {% endif %}

                  {% assign dimension_of_product = product.metafields.product['dimension of product'] %}
                  {% if dimension_of_product != 0 and dimension_of_product != blank %}
                  <div class="manufacturer-box">
                    <p class="manufact-text">Product dimensions</p>
                    <p class="manufact-add">{{ dimension_of_product }}</p>
                  </div>
                  {% endif %}
                </span>
              </div>
              {% endif %}
              <!--        Information icon        -->
                  <span class="span_taxes"> (inclusive of taxes)</span>
               </div>
              </div>
             </div>  
          </div>
          {% include 'bodywash-swatches-snippet' %}
        
        <div class='cart_wish'>
         <div class="groups-btn visible-xs">           
            
           {% if current_variant.inventory_quantity>0 %}
              <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{%endif%} id="product-add-to-cart" value="{{ 'products.product.add_to_cart' | t }}" data-form-id="#add-to-cart-form" onclick="scq('Add to cart', 'pre_defined');">
              {% elsif current_variant.inventory_management != "shopify"  %}  
               <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{%endif%} id="product-add-to-cart" value="{{ 'products.product.add_to_cart' | t }}" data-form-id="#add-to-cart-form" onclick="scq('Add to cart', 'pre_defined');">
              {% else %}
              <input type="submit" name="add" class="btn cart" {% if settings.enable_multilang %}data-translate="products.product.unavailable"{%endif%} id="product-add-to-cart" disabled value="{{ 'products.product.unavailable' | t }}" onclick="scq('Add to cart', 'pre_defined');">
              {% endif %} 
           
             
           {% include 'iwish_v2' with 'iwishproduct' %}
              {% include 'wishlist-product' %}

             <div class="share icons">
                {% include 'share' %}
            </div>
              {% if section.settings.enable_payment_button and current_variant.available %}
              {{ form | payment_button }}
              {% endif %}
             
          </div>

          <div class="groups-btn hidden-xs">          
            <div class="cart2">
               
              {% if current_variant.inventory_quantity>0 or current_variant.inventory_management == "shopify"  %}
              <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{%endif%} id="product-add-to-cart" value="{{ 'products.product.add_to_cart' | t }}" data-form-id="#add-to-cart-form" onclick="scq('Add to cart', 'pre_defined');">
              {% elsif current_variant.inventory_management == "shopify"  %}  
               <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{%endif%} id="product-add-to-cart" value="{{ 'products.product.add_to_cart' | t }}" data-form-id="#add-to-cart-form" onclick="scq('Add to cart', 'pre_defined');">
              {% else %}
              <input type="submit" name="add" class="btn cart" {% if settings.enable_multilang %}data-translate="products.product.unavailable"{%endif%} id="product-add-to-cart" disabled value="{{ 'products.product.unavailable' | t }}" onclick="scq('Add to cart', 'pre_defined');">
              {% endif %} 
             
            </div>
              {% if section.settings.enable_payment_button and current_variant.available %}
              {{ form | payment_button }}
              {% endif %}
        </div>         
            {% include 'iwish_v2' with 'iWish_Login_Msgs' %}  
          
        </div>  

          <div class="section-3">
           <div class="delivery-time-infos">
            <ul>
              <li class="checker-combine">
                <div class="check-pincode">
                  <input type="tel" id="pincode_input"  class="check-delivery-pincode" placeholder="Enter pincode" pattern="[0-9]*" onkeypress="return numbersOnly(this, event);"  onpaste="return false;" maxlength="6" name="pincode">
                  <span class="check-delivery-submit"  id="check-delivery-submit"><b>Check</b></span>
                </div>
              </li>
              <li class="availability-text" style="font-size:14px;font-weight:500;"></li>
            </ul>
           </div>
          <div class="planet_div">
            <img data-src="{{ section.settings.image_planet_desktop}}"  src="{{ section.settings.image_planet_desktop}}" alt="planet" class="lazyautosizes lazyload visible_desktop">
            <img {{ section.settings.image_planet_mobile}} src="{{ section.settings.image_planet_mobile}}"  alt="planet" class="lazyautosizes lazyload visible_mobile">
           <p style="color:rgb(92, 16, 140);font-weight:bold">1% of every sale goes towards the planet.</p>
          </div>
          </div>    
          {% endform %}
      </div> 

          {% if section.settings.display_product_detail_tag %}
          <div class="tags">
        
            <strong class="icon-tags" {% if settings.enable_multilang %}data-translate="blogs.article.tags"{%endif%}>{{ 'blogs.article.tags' | t }}:</strong>
            {% for tag in product.tags %}
            <span class="separator">/</span>
            <a href="/collections/all/?constraint={{ tag | handle }}" rel="tag">
              {% if settings.enable_multilang %}
              <span class="lang1">{{ tag | split: '|' | first }}</span>
              <span class="lang2">{{ tag | split: '|' | last }}</span>
              {% else %}
              <span>{{ tag | split: '|' | first }}</span>
              {% endif %}
            </a>
            {% endfor %}
          </div>
          {% endif %}
          <div class="wrapper_div">
          <div class="visible_mobile" style="display:none;">
            <div class="row">
              <div class="short-desc-datas">
            {% if product.metafields.Product['Short Description'] != blank %}
            {{ product.metafields.Product['Short Description'] }}
            {% else %}           
              
            {% endif %}
              </div>
            </div>
          </div>
        <div class="col-md-12 product_gift_bx">
                    <!--Free shipping offer text start -->
          {% if section.settings.display-free-text %}
          <br>
          <div class="free-shipping-top" style="list-style-type: none;">
            <p class="offers_sec">offers</p>
            <ul style="list-style-type: none;">
              {% if section.settings.offer_1 != blank %}
              <li style="list-style-type: none;">{{ section.settings.offer_1 }}</li>
              {% endif %}
              {% if section.settings.offer_2 != blank %}
              <li style="list-style-type: none;">{{ section.settings.offer_2 }}</li>

              {% endif %}
              {% if section.settings.offer_3 != blank %}
              <li style="list-style-type: none;">{{ section.settings.offer_3 }}</li>
              {% endif %}
              {% if section.settings.offer_4 != blank %}
              <li style="list-style-type: none;">{{ section.settings.offer_4 }}</li>
              {% endif %}
              {% if section.settings.offer_5 != blank %}
              <li style="list-style-type: none;">{{ section.settings.offer_5 }}</li>
              {% endif %}
            </ul>
          </div>
          {% endif %}
          <!--Free shipping offer text end -->
        </div>
       </div>
        </div>
      </div>

    </div>
      {% include 'image-product-CRG' %}     
      {% include 'tab-horizontal' %}
      {% include 'melt-section-image' %}
      {% include 'Review-question-tab' %}   
    
    {% if section.settings.show_tab == 'horizontal' or section.settings.show_tab == 'horizontal_center' or section.settings.display_related_products or settings.enable_ask_an_expert %}
      <div class="container-padd60 product-related-outer fw-section">
            {% if section.settings.display_related_products %}
            {% include 'related-products' %}
            {% endif %}
       </div>
    {% endif %}
  </div>
</div>
     </div>   
   </div>
</div>
{% unless product == empty %}
<div itemscope itemtype="http://schema.org/Product">
	<meta itemprop="name" content="{{product.title}}" />
	<meta itemprop="description" content="{{product.description | strip_html | truncatewords: 50}}" />
	<meta itemprop="sku" content="{{ product.selected_or_first_available_variant.sku }}" />
	<meta itemprop="url" content="{{ shop.secure_url }}{{ product.url }}">
	<meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
	<meta itemprop="brand" content="{{ product.vendor }}" />
	<meta itemprop="mpn" content="{{ product.selected_or_first_available_variant.sku }}" />
	{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, auto_install: true, product: product %}
	<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
        <meta itemprop="price" content="{{product.selected_or_first_available_variant.price|money_without_currency | remove: ','}}" />
        <meta itemprop="availability" content="http://schema.org/{% if product.selected_or_first_available_variant.inventory_quantity > 0 %}InStock{% else %}OutOfStock{% endif %}"/>
        <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition"/>
        <meta itemprop="seller" content="{{ shop.name | escape }}" />
        <meta itemprop="url" content="{{ shop.secure_url }}{{ product.selected_or_first_available_variant.url }}">
      </div> 
</div>

<script type="text/javascript">
    document.sezzleConfig = {
		targetXPath: '.prices/.price/.money',
        widgetType: 'product-page',
        ignoredFormattedPriceText: ['INR', 'MRP'],
        renderToPath: '../../../../',
        marginBottom: 10,
        maxPrice: 600000,
    };
</script>
<script src="https://widget.sezzle.in/v1/javascript/price-widget?uuid=d10e122f-087c-4284-8df4-6b13a53abb9c"></script>
<!--script to push datalayer data in GTM-->
<script defer>
  $( document ).ready(function() {
    window.dataLayer = window.dataLayer || [];
    $.ajax({
        type: "GET",
        dataType: "json",
        success: function (data) {
            var product = data.product;
          //console.log(product.id+" How is this")
          var isMobile = false; //initiate as false
          // device detection
          if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent) 
              || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) { 
              isMobile = true;
          }
          var device_type="Mobile"
          if(!isMobile){
          	device_type="Desktop"
          }
          window.dataLayer.push({
            'event':'prod_view',
            'prod_id':product.id,
            'prod_url':product.url,
            'from_page':document.referrer,
            'mrp':product.variants[0].price,
            'price':product.variants[0].compare_at_price,
            'stock_status':product.variants[0].inventory_quantity,
            'device':device_type
          })
        }
    });
});

</script>
<script defer>
  var buttonSlt = '[data-minus-qtt], [data-plus-qtt]',
      buttonElm = $(buttonSlt);
    $(document).on("click",buttonSlt,function(t){t.preventDefault(),t.stopPropagation();var s=$(this),e=$('.quantity input[name="quantity"]'),i=parseInt(e.val()),a=1;switch(!0){case s.hasClass("plus"):a=i+1;break;case s.hasClass("minus")&&i>1:a=i-1}e.val(a).trigger("change")});
  
    var selectCallback = function(variant, selector) {
    var addToCartBtn = $('#product-add-to-cart'),
        productPrice = $('.product .price'),
        comparePrice = $('.product .compare-price'),
        productInventory = $('.product-inventory'),
        productSku = $('.product .sku-product'),
        labelSave = $('.product-photos .sale-label');

    $(".current-product input").attr("data-product-price",variant.price);
    $(".current-product input").attr("data-product-id",variant.id);
    $(".current-product .priceNew").html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}" ));
    if(variant.compare_at_price > variant.price) {
       $(".current-product .priceNew-compare").html(Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}" ));
         }
  if(variant) {
      // addToCartbtn
      if (variant.available) {
        addToCartBtn.removeClass('disabled').removeAttr('disabled').val(window.inventory_text.add_to_cart);
      }
      else {
        addToCartBtn.val(window.inventory_text.sold_out).addClass('disabled').attr('disabled', 'disabled');
      };

      // Prices
      productPrice.html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));

     if(variant.compare_at_price > variant.price) {
       productPrice.addClass("on-sale");
      comparePrice
      .html(Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}"))
                                .show();
            labelSave.html('-' + Math.floor((variant.compare_at_price - variant.price) * 100 / variant.compare_at_price) + '%').show();
    }
    else {
      comparePrice.hide();
      productPrice.removeClass("on-sale");
      labelSave.hide();
    };

    {% if settings.enable_multiple_currencies %}
    Currency.convertAll(window.shop_currency, $('#currencies .active').attr('data-currency'), 'span.money', 'money_format');
    {% endif %}

    var form = $('#' + selector.domIdPrefix).closest('form');
    for (var i=0,length=variant.options.length; i<length; i++) {
      var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');

      if (radioButton.size()) {
        radioButton.get(0).checked = true;
      }
    };
  }
  else {
    addToCartBtn.val(window.inventory_text.sold_out).addClass('disabled').attr('disabled', 'disabled');
  };

  /*begin variant image*/
   $(document).ready(function(){if(variant&&variant.featured_image){var t=$("img[id|='product-featured-image']"),e=variant.featured_image,s=t[0];Shopify.Image.switchImage(e,s,function(t,e,s){jQuery(".slider-nav img").each(function(){var e=$(this).attr("src").split("?")[0].replace("compact","1024x1024");if(t=t.split("?")[0],e===t){var s=$(this).closest(".item");return s.trigger("click"),!1}})})}});
  };

  $(function($) {
    "undefined"==typeof freegifts_product_json&&(window.freegifts_product_json=function(e){if(e){for(var i=0;i<e.options.length;i++)if(option=e.options[i],option.values)for(var r=0;r<option.values.length;r++)(option.values[r].endsWith("(Freegifts)")||option.values[r].endsWith("% off)"))&&(option.values.splice(r,1),r--);for(var a=function(e){for(var i in e)if(e.hasOwnProperty(i))return!1;return!0},p=e.price,t=e.price_max,o=e.price_min,n=e.compare_at_price,_=e.compare_at_price_max,c=e.compare_at_price_min,i=0;i<e.variants.length;i++){var r=e.variants[i],s=r.option3?r.option3:r.option2?r.option2:r.option1;"undefined"!=typeof SECOMAPP&&"undefined"!=typeof SECOMAPP.gifts_list_avai&&!a(SECOMAPP.gifts_list_avai)&&"undefined"!=typeof SECOMAPP.gifts_list_avai[r.id]||s.endsWith("(Freegifts)")||s.endsWith("% off)")?(e.variants.splice(i,1),i-=1):(t>=r.price&&(t=r.price,p=r.price),o<=r.price&&(o=r.price),r.compare_at_price&&(_>=r.compare_at_price&&(_=r.compare_at_price,n=r.compare_at_price),c<=r.compare_at_price&&(c=r.compare_at_price)),1==r.available&&(e.available=!0))}e.price=p,e.price_max=o,e.price_min=t,e.compare_at_price=n,e.compare_at_price_max=c,e.compare_at_price_min=_,e.price_varies=o>t?!0:!1,e.compare_at_price_varies=c>_?!0:!1}return e});
    var sca_product_info = freegifts_product_json ({{ product | json }});
    $("#product-selectors").length>0&&new Shopify.OptionSelectors("product-selectors",{product:sca_product_info,onVariantSelected:selectCallback,enableHistoryState:!0});

    Shopify.linkOptionSelectors(sca_product_info, '.product');
    {% if product.options.size == 1 %}
    {% if product.options.first == 'Title' or product.options.first == 'Default' %}
    $('.selector-wrapper:eq(0)').prepend('<label>Choose</label>');
    {% else %}
    $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
     {% endif %}                                    
    {% endif %}                                        
    $('.product-shop .selector-wrapper label').append('<em></em>');
    if(sca_product_info.variants.length===1 && sca_product_info.variants[0].title.indexOf('Default')!==-1 ){
      $('.selector-wrapper').hide();
    }
   
  });
</script>
<script async>
$(document).ready(function(){
$("ul.tabs li").click(function(){var t=$(this).attr("data-tab");$("ul.tabs li").removeClass("current"),$(".tab-content").removeClass("current"),$(this).addClass("current"),$("#"+t).addClass("current")}),$(".p-slider-s").slick({slidesToShow:1,slidesToScroll:1,dots:!1,arrows:!0,asNavFor:".p-slider-n",prevArrow:"<button type='button' class='slick-prev pull-left'><i class='fa fa-angle-left' aria-hidden='true'></i></button>",nextArrow:"<button type='button' class='slick-next pull-right'><i class='fa fa-angle-right' aria-hidden='true'></i></button>"}),$(".p-slider-n").slick({slidesToShow:5,slideToScroll:1,asNavFor:".p-slider-s",dots:!1,focusOnSelect:!0,prevArrow:"<button type='button' class='slick-prev pull-left'><i class='fa fa-angle-left' aria-hidden='true'></i></button>",nextArrow:"<button type='button' class='slick-next pull-right'><i class='fa fa-angle-right' aria-hidden='true'></i></button>",responsive:[{breakpoint:768,settings:{slidesToShow:4}},{breakpoint:480,settings:{slidesToShow:4}}]}),$("#product-selectors-option-0 option").each(function(t,e){var s=$(this).val();$(this).css("background-color",s),0===t&&$("#product-selectors-option-0").css("background-color",s)}),$("#product-selectors-option-0").change(function(){var t=$(this).val();$("#product-selectors-option-0").css("background-color",t)}); 
}); 
</script>

{% endunless %}

{% schema %}
{
"name": "Product Bodywash",
"class": "col-12 col-xl-12",
"settings": [
{
"type": "header",
"content": "Product Moreview"
},
{
"type": "radio",
"id": "style_moreview",
"label": "Product Morevie:",
"options": [
{
"value": "horizontal",
"label": "Horizontal Moreview"
},
{
"value": "left_vertical",
"label": "Left Vertical Moreview"
},
{
"value": "right_vertical",
"label": "Right Vertical Moreview"
},{
"value": "no_moreview",
"label": "No Moreview"
}
],
"default": "horizontal"
},
{
"type": "header",
"content": "dynamic checkout button"
},
{
"type": "checkbox",
"id": "enable_payment_button",
"label": "Show dynamic checkout button",
"info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"default": true
},{   
"type":"url",
"id":"image_planet_desktop",
"label":"Planet For Desktop"
},{   
"type":"url",
"id":"image_planet_mobile",
"label":"Planet For Mobile"
},
{
"type" : "header",
"content" : "Offer Text"
},
{
"type" : "checkbox",
"id" : "display-free-text",
"label" : "Display offer text",
"default" : true
},
{
"type" : "html",
"id" : "offer_1",
"label" : "First Text"
},
{
"type" : "html",
"id" : "offer_2",
"label" : "Second Text"
},
{
"type" : "html",
"id" : "offer_3",
"label" : "Third Text"
},
{
"type" : "html",
"id" : "offer_4",
"label" : "Fourth Text"
},
{
"type" : "html",
"id" : "offer_5",
"label" : "Fifth Text"
},
{
"type" : "checkbox",
"id" : "display_crg_image",
"label" : "Display CRG Image",
"default" : true
},{   
"type":"url",
"id":"image_product_svg",
"label":"Image For Desktop SVG"
},
{   
"type":"url",
"id":"image_product_mob_svg",
"label":"Image For Mobile SVG"
},
{
"type": "radio",
"id": "show_desc",
"label": "Short description",
"options": [
{
"value": "no-show",
"label": "No"
},
{
"value": "short",
"label": "Yes"
},
{
"value": "full",
"label": "Show Full Description"
}
],
"default": "short"
},
{
"type": "header",
"content": "Product Tab"
},
{
"type": "radio",
"id": "show_tab",
"label": "Horizontal Tab or Vertical Tab",
"options": [
{
"value": "horizontal",
"label": "Horizontal Tab"
},
{
"value": "horizontal_center",
"label": "Horizontal Center Tab"
},
{
"value": "vertical",
"label": "Vertical Tab"
}
],
"default": "horizontal"
},
{
"type": "checkbox",
"id": "display_product_detail_description",
"label": "Display Product Description?",
"default": true
},
{
"type": "text",
"id": "product_description_title",
"label": "Product Description Title",
"default": "Description"
},
{
"type": "checkbox",
"id": "display_goodness_inside",
"label": "Display Goodness Inside?",
"default": true
},
{
"type": "text",
"id": "product_goodness_title",
"label": "Product Goodness Title",
"default": "Goodness Inside"
},

{
"type": "checkbox",
"id": "display_how_to_use",
"label": "Display How To Use?",
"default": true
},
{
"type": "text",
"id": "how_to_use_title",
"label": "How To Use Title",
"default": "How To Use"
},
{
"type": "checkbox",
"id": "display_custom_tab",
"label": "Display Custom Tab?",
"default": true
},
{
"type": "checkbox",
"id": "display_image_melt",
"label": "Display Image Melt?",
"default": true
},
{
"type": "image_picker",
"id": "image_melt",
"label" : "Display Image For Melt Section"
},
{
"type": "header",
"content": "Related Products"
},
{
"type": "checkbox",
"id": "display_related_products",
"label": "Display Related Products?",
"default": true
},
{
"type": "text",
"id": "related_products_title",
"label": "Title of related products block",
"default": "Related Products"
},
{
"type": "text",
"id": "number_of_related_products",
"label": "Number of related products",
"default": "8"
}
]
}
{% endschema %}