
<script>
    function scrollDesk(){
      var elmnt = document.getElementById("scrollToDesk");
    elmnt.scrollIntoView(); 
    }
    
    function scrollMob(){
      var elmnt = document.getElementById("scrollToMob");
    elmnt.scrollIntoView();
       
    }
    
    function clickB(){
      var elmnt = document.getElementById("BStart");
    elmnt.scrollIntoView();
      var elmnt = document.getElementById("iamA");
    elmnt.scrollIntoView(); 
    }
  function setCookie(cname,cvalue,exdays) {
    //alert("Here")
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires=" + d.toGMTString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }
    function setCookie1(cname,cvalue,exdays) {
    //alert("Here")
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires=" + d.toGMTString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }
  
  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }
  
  function checkCookie() {
    var user=getCookie("username");
    if (user != "") {
      alert("Welcome again " + user);
    } else {
       user = prompt("Please enter your name:","");
       if (user != "" && user != null) {
         setCookie("username", user, 30);
       }
    }
  }
  </script>
  <style>
    .img-responsive {
      display: block;
    }
    .img-responsive.mobile {
    display: none;
  }
  
  @media only screen and (max-device-width: 480px) {
    .img-responsive {
      display: none;
    }
    .img-responsive.mobile {
      display: block;
    }
  }
    .column {
    float: center;
    width: 20%;
    padding: 5px;
  }
    .column1 {
    float: left;
    width: 24%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  </style>
  <div class="page-tpl">
   
  
      {% comment %}
      Regular page content goes here.
      {% endcomment %}
    <div class="img-responsive">
      {% if customer %}
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_SIGNED_UP_1.jpg?v=1601024419" src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_SIGNED_UP_1.jpg?v=1601024419">
      <div style="background:url('https://cdn.shopify.com/s/files/1/0390/2985/files/02_SIGNED_UP_1.jpg?v=1601024418');background-size:cover">
        <div style="position:relative;text-align:center;color:#5b128a">    
          <span style="font-size:336%;font-weight:bold"> Hey {{ customer.first_name}} {{customer.last_name}}</span>
          <br>
          <span style="font-size:200%;"> You have <b><span data-lion-points="approved"></span></b> goodness points </span>
          <br>
          <span style="font-size:200%;">redeem points today for discounts, cashbacks and more</span>
        </div>
      </div>
      <div style="background:url('https://cdn.shopify.com/s/files/1/0390/2985/files/02_MOB_DEFAULT.jpg?v=1600950586');background-size:cover">
        <div style="position:relative;text-align:center">    
          <br> 
          <a href="https://plumgoodness.com/collections/all-in-stock"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/get_shopping.png?v=1601031271" style="width:20%" src="https://cdn.shopify.com/s/files/1/0390/2985/files/get_shopping.png?v=1601031271"></a>
  
        </div>
      </div>
      {% else %}
      <img class="lazyload" data-src="" src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_DEFAULT_DESKTOP.jpg?v=1600946575">
      <div style="background:url('https://cdn.shopify.com/s/files/1/0390/2985/files/02_DEFAULT_DESKTOP.jpg?v=1600946574')">
        <div style="position:relative;left:31%">    
          <div class="row">
        <div class="column">
              <a href="https://plumgoodness.com/account/login"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_CTA_sign_me_up_GOODNESS_LAND.png?v=1600944024" src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_CTA_sign_me_up_GOODNESS_LAND.png?v=1600944024" onclick="setCookie('rewards',1,2)" ></a>
            </div>
            <div class="column">
              <a href="https://plumgoodness.com/account/login"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_CTA_sign_me_in_GOODNESS_LAND.png?v=1600944024" src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_CTA_sign_me_in_GOODNESS_LAND.png?v=1600944024" onclick="setCookie('rewards',1,2)"></a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/03_DEFAULT_DESKTOP.jpg?v=1600946577" src="https://cdn.shopify.com/s/files/1/0390/2985/files/03_DEFAULT_DESKTOP.jpg?v=1600946577">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/03_HOW-YOU-CAN-EARN-GOODNESS-PART_v2.jpg?v=1645793963" id="scrollToDesk" src="https://cdn.shopify.com/s/files/1/0390/2985/files/03_HOW-YOU-CAN-EARN-GOODNESS-PART_v2.jpg?v=1645793963">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/04_DEFAULT_DESKTOP.jpg?v=1600946576" src="https://cdn.shopify.com/s/files/1/0390/2985/files/04_DEFAULT_DESKTOP.jpg?v=1600946576">
      
      {% if customer %}
      <div style="background:url('https://cdn.shopify.com/s/files/1/0390/2985/files/05_DEFAULT_DESKTOP.jpg?v=1600946574')">
        <div style="position:relative;text-align:center">    
          <a href="https://plumgoodness.com/collections/all-in-stock"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/redeem_points.png?v=1601031556" style="width:25%" src="https://cdn.shopify.com/s/files/1/0390/2985/files/redeem_points.png?v=1601031556"></a>
  
        </div>
      </div>
      {% else %}
      <div style="background:url('https://cdn.shopify.com/s/files/1/0390/2985/files/05_DEFAULT_DESKTOP.jpg?v=1600946574')">
        <div style="position:relative;left:20%">    
          <div class="row">
        <div class="column">
              <a href="https://plumgoodness.com/account/login"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_CTA_sign_me_up_GOODNESS_LAND.png?v=1600944024" src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_CTA_sign_me_up_GOODNESS_LAND.png?v=1600944024" onclick="setCookie('rewards',1,2)"></a>
            </div>
            <div class="column">
              <a href="https://plumgoodness.com/account/login"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_CTA_sign_me_in_GOODNESS_LAND.png?v=1600944024" src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_CTA_sign_me_in_GOODNESS_LAND.png?v=1600944024" onclick="setCookie('rewards',1,2)"></a>
            </div>
            <div class="column">
              <a href="https://plumgoodness.com/collections/all-in-stock"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/get_shopping.png?v=1601031271" src="https://cdn.shopify.com/s/files/1/0390/2985/files/get_shopping.png?v=1601031271"></a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div style="background:url('https://cdn.shopify.com/s/files/1/0390/2985/files/merge_from_ofoct_1.jpg?v=1600947598');background-size:cover;background-repeat:no-repeat">
        <div style="height:33vw">
        </div>
        <div style="text-align:left">    
          <div style="width:44%;position:relative;left:29%;">
          <span style="color:#5b128a;font-weight:bold"> how can I join goodness land rewards?</span>
          <br>
          <span style="color:#5b128a;">simply create an account on plumgoodness.com and you will automatically be added to the goodness land rewards program</span>
          <br>
            <br>
          <span style="color:#5b128a;font-weight:bold"> where can i see my goodness points?</span>
            <br>
          <span style="color:#5b128a;">once you've signed in to your plum account you can view your goodness points right here on this page or under your account section from the main menu</span>
            <br>
            <br>
            <span style="color:#5b128a;font-weight:bold"> how do i move up from 'plum lover' to 'plum buff'?</span>
            <br>
            <span style="color:#5b128a;"> you can keep moving up the tiers by collecting more and more goodness points, <span href="#" style="color:#5b128a;font-weight:bold;cursor:pointer" onclick="scrollDesk()">here's </span> what you can do to collect more points </span>
            <br>
            <br>
            <span style="color:#5b128a;font-weight:bold">will my tier go down if I spend my points?</span>
            <br>
          <span style="color:#5b128a;">absolutely not - once you reach a certain number of goodness points and reach a particular tier, you will never go down even if you spend your points. goodness never reduces at goodness land ;)</span>
            <br>
            <br>
            <span style="color:#5b128a;font-weight:bold">what is 1 goodness point worth?</span>
            <br>
          <span style="color:#5b128a;">hey cutie, 1 goodness point is worth Re. 0.10, so if you have 1000 goodness points it will value at &#x20B9;100</span>
            <br>
            <br>
            <span style="color:#5b128a;font-weight:bold">can I club my goodness points with other discounts on pumgoodness.com?</span>
            <br>
          
            <span style="color:#5b128a;">absolutely, you can use this discount with any discounted items at plumgoodness.com. however you cannot club it with any other discount code.</span>
       
          </div>
        </div>
        <div style="height:23vw">
        </div>
      </div>
    </div>
    
    
    <!-- Mobile View -->
    <div class="img-responsive mobile">
      {% if customer %}
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/Trial_720w.jpg?v=1601704388" src="https://cdn.shopify.com/s/files/1/0390/2985/files/Trial_720w.jpg?v=1601704388">
      <div style="background:url('https://cdn.shopify.com/s/files/1/0390/2985/files/02_MOB_SIGNED.jpg?v=1601017168')">
        <div style="position:relative;text-align:center;color:#5b128a">    
          <span style="font-size:6vw;font-weight:bold"> Hey {{ customer.first_name}} {{customer.last_name}}</span>
          <br>
          <span style="font-size:medium;"> You have <b><span data-lion-points="approved"></span></b> goodness points</span>
          <br>
          <span style="font-size:medium;">redeem points today for discounts, cashbacks and more</span>
        </div>
      </div>
      <div style="background:url('https://cdn.shopify.com/s/files/1/0390/2985/files/02_MOB_DEFAULT.jpg?v=1600950586')">
        <div style="position:relative;text-align:center">    
          <a href="https://plumgoodness.com/collections/all-in-stock"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/get_shopping.png?v=1601031271" style="width:40%" src="https://cdn.shopify.com/s/files/1/0390/2985/files/get_shopping.png?v=1601031271"></a>
  
        </div>
      </div>
      {% else %}
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_MOB_DEFAULT.jpg?v=1600950587" src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_MOB_DEFAULT.jpg?v=1600950587">
      <div style="background:url('https://cdn.shopify.com/s/files/1/0390/2985/files/02_MOB_DEFAULT.jpg?v=1600950586')">
        <div style="position:relative;left:31%">    
          <div class="row">
        <div class="column">
              <a href="https://plumgoodness.com/account/login"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_CTA_sign_me_up_GOODNESS_LAND.png?v=1600944024" src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_CTA_sign_me_up_GOODNESS_LAND.png?v=1600944024" onclick="setCookie1('rewards1',1,2)"></a>
            </div>
            <div class="column">
              <a href="https://plumgoodness.com/account/login"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_CTA_sign_me_in_GOODNESS_LAND.png?v=1600944024" src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_CTA_sign_me_in_GOODNESS_LAND.png?v=1600944024" onclick="setCookie1('rewards',1,2)"></a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/03_af264583-e130-403e-9bfa-42c9d2bccc99.jpg?v=1601707568" src="https://cdn.shopify.com/s/files/1/0390/2985/files/03_af264583-e130-403e-9bfa-42c9d2bccc99.jpg?v=1601707568">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/05_v2.jpg?v=1645793963" id="scrollToMob" src="https://cdn.shopify.com/s/files/1/0390/2985/files/05_v2.jpg?v=1645793963">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/HOW-TO-REDEEM.jpg?v=1601704425" src="https://cdn.shopify.com/s/files/1/0390/2985/files/HOW-TO-REDEEM.jpg?v=1601704425">
      {% if customer %}
      <div style="background:url('https://cdn.shopify.com/s/files/1/0390/2985/files/05_DEFAULT_DESKTOP.jpg?v=1600946574')">
        <div style="position:relative;text-align:center">    
          <a href="https://plumgoodness.com/collections/all-in-stock"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/redeem_points.png?v=1601031556" style="width:50%" src="https://cdn.shopify.com/s/files/1/0390/2985/files/redeem_points.png?v=1601031556"></a>
  
        </div>
      </div>
      {% else %}
      <div style="background:url('https://cdn.shopify.com/s/files/1/0390/2985/files/05_DEFAULT_DESKTOP.jpg?v=1600946574')">
        <div style="position:relative;left:20%">    
          <div class="row">
        <div class="column">
              <a href="https://plumgoodness.com/account/login"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_CTA_sign_me_up_GOODNESS_LAND.png?v=1600944024" src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_CTA_sign_me_up_GOODNESS_LAND.png?v=1600944024" setCookie1('rewards1',1,2)></a>
            </div>
            <div class="column">
              <a href="https://plumgoodness.com/account/login"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_CTA_sign_me_in_GOODNESS_LAND.png?v=1600944024" src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_CTA_sign_me_in_GOODNESS_LAND.png?v=1600944024" setCookie1('rewards1',1,2)></a>
            </div>
            <div class="column">
              <a href="https://plumgoodness.com/collections/all-in-stock"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/get_shopping.png?v=1601031271" src="https://cdn.shopify.com/s/files/1/0390/2985/files/get_shopping.png?v=1601031271"></a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div style="background:url('https://cdn.shopify.com/s/files/1/0390/2985/files/merge_from_ofoct_3.jpg?v=1600950911');background-size:cover;background-repeat:no-repeat">
        <div style="height:50vw">
        </div>
        <div style="text-align:left; font-size:9px;margin-top:-7px">    
          <div style="width:80%;position:relative;left:10%;line-height:13px;">
          <span style="color:#5b128a;font-weight:bold"> how can I join goodness land rewards?</span>
          <br>
          <span style="color:#5b128a;">simply create an account on plumgoodness.com and you will automatically be added to the goodness land rewards program</span>
          <br>
            <br>
          <span style="color:#5b128a;font-weight:bold"> where can i see my goodness points?</span>
            <br>
          <span style="color:#5b128a;">once you've signed in to your plum account you can view your goodness points right here on this page or under your account section from the main menu</span>
            <br>
            <br>
            <span style="color:#5b128a;font-weight:bold"> how do i move up from 'plum lover' to 'plum buff'?</span>
            <br>
            <span style="color:#5b128a;"> you can keep moving up the tiers by collecting more and more goodness points, <span style="color:#5b128a;font-weight:bold;cursor:pointer" onclick="scrollMob()" >here's </span> what you can do to collect more points </span>
            <br>
            <br>
            <span style="color:#5b128a;font-weight:bold">will my tier go down if I spend my points?</span>
            <br>
          <span style="color:#5b128a;">absolutely not - once you reach a certain number of goodness points and reach a particular tier, you will never go down even if you spend your points. goodness never reduces at goodness land ;)</span>
            <br>
            <br>
            <span style="color:#5b128a;font-weight:bold">what is 1 goodness point worth?</span>
            <br>
          <span style="color:#5b128a;">hey cutie, 1 goodness point is worth Re. 0.10, so if you have 1000 goodness points it will value at &#x20B9;100</span>
            <br>
            <br>
            <span style="color:#5b128a;font-weight:bold">can I club my goodness points with other discounts on pumgoodness.com?</span>
            <br>
          <span style="color:#5b128a;">absolutely, you can use this discount with any discounted items at plumgoodness.com. however, you cannot club it with any other discount code.</span>
          </div>
        </div>
        <div style="height:23vw">
        </div>
        
      </div>
    </div>
    
  <div>
      {% if settings.enable_multilang and page.content contains '[lang2]' %}
      <div class="rte lang1">
        {{ page.content | split: '[lang2]' | first }}
      </div>
      <div class="rte lang2">
        {{ page.content | split: '[lang2]' | last }}
      </div>
      {% else %}
      <div class="rte">
        {{ page.content | split: '[lang2]' | first }}
      </div>
      {% endif %}
    </div>
  </div>
{% schema %}
{
"name": "rewards-page",
"settings": [
]
}
{% endschema %}    