<section class="sub-page-banner-section">
  <a href="{{ section.settings.link }}" class="">
  <img class="banner-image desktop-xs lazyautosizes lazyload" data-src="{{ section.settings.banner-id | img_url: 'master' }}" src="{{ section.settings.banner-id | img_url: 'master' }}">

  <img class="banner-image teaser_mobile lazyautosizes lazyload" data-src="{{ section.settings.image_mobile | img_url: 'master' }}" src="{{ section.settings.image_mobile | img_url: 'master' }}">
  </a>
</section>

{% schema %}
{
"name": "Banner Section",
"settings": [
    {
      "type": "image_picker",
      "id": "banner-id",
      "label": "image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile Image"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link",
      "info": "Optional"
    },
    {
      "type": "text",
      "id": "banner-title",
      "label": "Banner Title"
    },
    {
      "type" : "textarea",
      "id" : "des",
      "label" : "Description",
      "default": "Phasellus lorem malesuada ligula pulvino commodo maecenas"
    }
  ]
}
{% endschema %}