<link rel="preload stylesheet" href="{{ 'font-awesome.min.css' | asset_url  }}" type="text/css" media="all">
<link rel="preload stylesheet" href="{{ 'slick-shelter.css' | asset_url  }}" type="text/css" media="all">
<link rel="preload stylesheet" href="{{ 'slick-theme.css' | asset_url  }}" type="text/css" media="all">
<link rel="preload stylesheet" href="{{ 'fonts-shelter.css' | asset_url  }}" type="text/css" media="all">
<link rel="preload stylesheet" href="{{ 'style-shelter.css' | asset_url  }}" type="text/css" media="all">
<link rel="preload stylesheet" href="{{ 'lity.min.css' | asset_url  }}" type="text/css" media="all">

<section class="homewrap">
        <div class="bannerwrap">
            <div class="col-lg-12 col-xs-12">
                <div class="banner">
                    <div class="banner-copy">
                    <h1 class="text11">Empty for you, <br/><span class="text12">full of hope for them</span></h1>
                    <h2 class="text2">your plum empties can become a dog shelter<br/>recycle now WITH &nbsp;<img src="https://cdn.shopify.com/s/files/1/0390/2985/files/empties4.png?v=1651821834"></h2>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="about-us">
    <div class="col-lg-12">
        <div class="contact-deatils-copy">
            <h1 class="about-text1">we have already identified a few neighbourhoods and put up <span class="text-style">plum shelters</span><br/></h1>
                <h1 class="about-text1"><span class="about-text1-style">
                these shelters are made from <span class="text-style">plum empties</span> and can help our<br/>
                furry friends stay cool, hydrated and nourished</span><br/></h1>
                <h1 class="about-text1">but we need your help to keep the <span class="text-style">real goodness</span> going</h1>
                <div class="help-box">
                    <h2 class="help-box-title">what can you do to help? </h2>
                    <ul>
                        <li><img src="https://cdn.shopify.com/s/files/1/0390/2985/files/help-1.png?v=1651821884">
                            <p>if you spot a shelter, take a picture and TAG @plumgoodness </p>
                        </li>
                        <li><img src="https://cdn.shopify.com/s/files/1/0390/2985/files/help-2.png?v=1651821884">
                            <p>Keep the bowls filled with water and FOOD for our friends </p>
                        </li>
                        <li><img src="https://cdn.shopify.com/s/files/1/0390/2985/files/help-3.png?v=1651821884">
                            <p>NOMINATE YOUR NEIGHBOURHOOD FOR A PLUM SHELTER </p>
                        </li>
                    </ul>
                </div>
                <div class="fill-details">
                    <h1 class="fill-details-text1">fill in your details <br><span class="fill-details-text2">and our team shall get in touch with you</span></h1>
                    <form>
                        <div class="submit-style">
                            <a href="https://docs.google.com/forms/d/1YgNzXmLf3pSxIGeBbd4cCQEjllOFzu3gmnfj6uo36Gk/edit?usp=sharing"  target="_blank" class="submit-btn">click here to nominate your neighbourhood <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/submit-arow.png?v=1651821966"></a>
                        </div>
                    </form><!-- 
                    <div class="align-style">
                        <h1 class="about-note">*Only in Mumbai and Delhi fur now <img src="../images/about-dogsleg.png"></h1>
                    </div> -->
                </div>
        </div>
    </div>
</section>
<section class="we-did-it-without-media">
    <div class="col-lg-12 we-did-it-style">
        <div class="vedio-media-box">
            <div class="vedio-box">
        <h1 class="we-did-it-title">here's how we did it</h1>
        <span >&nbsp;</span>
            <a href="https://youtu.be/_lAPk7kGkSI" data-lity>
            <video   class="we-did-it-vedio">
              <!-- <source src="movie.mp4" type="video/mp4">
              <source src="movie.ogg" type="video/ogg"> -->
            </video>
            </a>
        </div>
        <div class="media-box mediacovrage-slider">
            <div class="silde-item">
                <a href="https://plumgoodness.com/blogs/skincare/acne-and-pimples-your-go-to-guide" target="_blank">
                    <h1 class="media-box-symbol"><img class="colon-img" src="https://cdn.shopify.com/s/files/1/0390/2985/files/colon.png"></h1>
                    <p>Acne and Pimples: Your Go-To Guide </p>
                    <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/media-coverage1.png?v=1652266602"></a>
            </div>
            <div class="silde-item">
                <a href="https://plumgoodness.com/blogs/plumblogs/5-frizzy-hair-solutions-for-a-smoother-summer" target="_blank">
                    <h1 class="media-box-symbol"><img class="colon-img" src="https://cdn.shopify.com/s/files/1/0390/2985/files/colon.png"></h1>
                    <p>5 Frizzy Hair Solutions for a Smoother Summer </p>
                    <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/media-coverage2.jpg?v=1652266602"></a>
            </div>
            <div class="silde-item">
                <a href="https://plumgoodness.com/blogs/haircare/how-to-get-rid-of-dandruff-a-simple-4-step-routine" target="_blank">
                    <h1 class="media-box-symbol"><img class="colon-img" src="https://cdn.shopify.com/s/files/1/0390/2985/files/colon.png"></h1>
                    <p>How To Get Rid of Dandruff: A Simple 4-Step Routine</p>
                    <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/media-coverage3.png?v=1652266602">
                </a>
            </div>
            <div class="silde-item">
                <a href="https://plumgoodness.com/blogs/skincare/four-reasons-to-add-vitamin-c-serum-to-your-skin-care-routine" target="_blank">
                    <h1 class="media-box-symbol"><img class="colon-img" src="https://cdn.shopify.com/s/files/1/0390/2985/files/colon.png"></h1>
                    <p>Four Reasons to Add Vitamin C Serum to Your Skin Care Routine</p>
                    <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/media-coverage4.png?v=1652266602">
                </a>
            </div>
        </div>

        </div>
        <div class="we-did-it-about">
            <h1 class="about">about <br/> <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/empties4.png?v=1651821834"><br/>
                </h1>
                <h1 class="we-did-it-text for-desktop">while our products are packaged in 100% recyclable plastic, we believe in going a step <br/>further towards making good happen for the environment<br/>our <span class="we-did-it-text-style1">#Empites4</span><span class="we-did-it-text-style" >good </span>programme makes it easier for us and rewarding for our customers <br/>in recycling plum empties - like the ones that have gone into making these animal shelters</h1>
            
            <h1 class="we-did-it-text for-mb">while our products are packaged in 100% recyclable plastic, we believe <br>in going a step further towards<br> making good happen for <br>the environment<br/><br>our <span class="we-did-it-text-style1">#Empites4</span><span class="we-did-it-text-style" >good  </span> programme<br> makes it easier for us and<br> rewarding for our customers in<br> recycling plum empties - like the <br>ones that have gone into making <br>these animal shelters</h1>
            
        </div>
        </div>
    </section>
    <section class="how-its-work">
        <div class="col-lg-12 how-its-work-style">
            <h1 class="how-its-work-title">here’s how it works</h1>
            <div class="how-its-work-box">
               <ul>
                    <li class="l1">
                        <span class="step_1">step 1</span><img class="img1" src="https://cdn.shopify.com/s/files/1/0390/2985/files/how-its-work-item1.png?v=1651822246">
                        <p>our customers can opt in to send us empties or arrange a pick up by filling out this <a href="https://docs.google.com/forms/d/e/1FAIpQLSc8ybju8sdRJNLnm2la7gFRv_ua3v74j4hWFa04MUYUv_P2dA/viewform" class="text-color" target="_blank">form</a></p>
                    </li>
                    <li class="desktop l2">
                        <span class="step_2">step 2</span><img class="img2" src="https://cdn.shopify.com/s/files/1/0390/2985/files/how-its-work-item2.png?v=1651822246">
                        <p>all clean and dry empties are prepped for pick up</p>
                    </li>
                    <li class="mb">
                        <p>all clean and dry empties are prepped for pick up</p>
                        <img class="img2-mb" src="https://cdn.shopify.com/s/files/1/0390/2985/files/how-its-work-item2.png?v=1651822246"><span class="step_2">step 2</span>
                    </li>
                    <li class="l3">
                        <span class="step_3">step 3</span><img class="img3" src="https://cdn.shopify.com/s/files/1/0390/2985/files/how-its-work-item3.png?v=1651822308">
                        <p>for every empty sent to us, our customers receive Rs. 50 in shopping credits</p>
                    </li>
                    <li class="desktop l4">
                        <span class="step_4">step 4</span><img class="img4" src="https://cdn.shopify.com/s/files/1/0390/2985/files/how-its-work-item4.png?v=1651822246">
                        <p>all empties are sent to verified recyclers free of cost</p>
                    </li>
                    <li class="mb">
                        <p>all empties are sent to verified recyclers free of cost</p>
                        <img class="img4-mb" src="https://cdn.shopify.com/s/files/1/0390/2985/files/how-its-work-item4.png?v=1651822246"><span class="step_4">step 4</span>
                    </li>
                </ul>
            </div>
             <a href="https://youtu.be/8MYHIhKaNv4" data-lity>
                    <video   class="how-its-work-vedio">
                  <!-- <source src="movie.mp4" type="video/mp4">
                  <source src="movie.ogg" type="video/ogg"> -->
                    
                </video>
            </a>
        </div>
    </section>

     <section class="know-more-at">
        <div class="col-lg-12">
            <h1 class="know-more-at-title">know more at:</h1>
            <h1 class="know-more-at-link"><a href="https://plumgoodness.com/pages/recycle" target="_blank">https://plumgoodness.com/pages/recycle</a></h1>
        </div>
    </section>
  
  
    

{{ 'jquery.min.js' | asset_url | script_tag }}
{{ 'jquery-cookie.min.js' | asset_url | script_tag }}
{{ 'jquery-ui.js' | asset_url | script_tag }}
{{ 'slick.min.js' | asset_url | script_tag }}
{{ 'main-shelter.js' | asset_url | script_tag }}
{{ 'lity.min.js' | asset_url | script_tag }}
{{ 'youtube.min.js' | asset_url | script_tag }}
<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript">
    $(document).on('lity:ready', function (event, instance) {
        var iframe = $(".lity-iframe-container").find("iframe");
        iframe.prop("id", "lity-youtube-player");
 
        var player = new YT.Player("lity-youtube-player", {
            events: {
                'onReady': function (e) {
                    e.target.playVideo();
                },
                'onStateChange': function (e) {
                    if (e.data == YT.PlayerState.ENDED) {
                        instance.close();
                    }
                }
            }
        });
    });
</script> 

