<head>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Chau+Philomene+One:ital@1&family=Lato:wght@300&family=Mulish&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>
  .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  align-items:center
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
}

/* Create an active/current tablink class */
.tab button:active {
  background-color:blue;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 0px;
  border: 1px solid #ccc;
  border-top: none;
}
.clickedclass
  {
    height:200px;
    width:200px;
  }
.clicked:active
  {
    background-color: white;
    background-image: none;
  }
</style>
<script>
  var choosen=false;
  var choosen1=false;
  var choosen2=false;
	
  function selectImage(imageNumber,id){
    
  	//alert(imageNumber);
    allImages=document.querySelectorAll("[id='imagica']");
    if(choosen){
      for (index = 0; index < allImages.length; index++) { 
        if(index==imageNumber-1){
          allImages[index].style.opacity='1';
          sessionStorage.setItem("1product",id);
          continue;
        }
        allImages[index].style.opacity='0.2';
     	}
      alert(sessionStorage.getItem("1product"));
    }
    else{
    	for (index = 0; index < allImages.length; index++) { 
        if(index==imageNumber-1){
          sessionStorage.setItem("1product",id);
          continue;
        }
        allImages[index].style.opacity='0.2';
     	}
      choosen=true;
      alert(sessionStorage.getItem("1product"));
    }
    
  }
  
  function selectImage1(imageNumber,id){
  	//alert(imageNumber);
    allImages=document.querySelectorAll("[id='imagica1']");
    if(choosen1){
      for (index = 0; index < allImages.length; index++) { 
        if(index==imageNumber-1){
          allImages[index].style.opacity='1';
          sessionStorage.setItem("2product",id);
          continue;
        }
        allImages[index].style.opacity='0.2';
      }
      alert(sessionStorage.getItem("2product"));
    }
    else{
      for (index = 0; index < allImages.length; index++) { 
        if(index==imageNumber-1){
          sessionStorage.setItem("2roduct",id);
          continue;
        }
        allImages[index].style.opacity='0.2';
      }
      choosen1=true;
      alert(sessionStorage.getItem("2product"));
    }
  }
  
  function selectImage2(imageNumber,id){    
  	//alert(imageNumber);
    allImages=document.querySelectorAll("[id='imagica2']");
    if(choosen2){
      for (index = 0; index < allImages.length; index++) { 
        if(index==imageNumber-1){
          allImages[index].style.opacity='1';
          sessionStorage.setItem("3product",id);
          continue;
        }
        allImages[index].style.opacity='0.2';
     	}
      alert(sessionStorage.getItem("3product"));
    }
    else{
    	for (index = 0; index < allImages.length; index++) { 
        if(index==imageNumber-1){
          sessionStorage.setItem("3product",id);
          continue;
        }
        allImages[index].style.opacity='0.2';
     	}
      choosen2=true;
      alert(sessionStorage.getItem("3product"));
    }
  }
function openCity(evt, cityName) {
  if(cityName==="London" || (cityName==="Paris" && choosen===true) || (cityName==="Tokyo" && choosen===true && choosen1===true))
  {
    var i, tabcontent, tablinks;
    var myBtn = cityName+"2";
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
    if(cityName != 'London' )
    {
      document.getElementById(myBtn).disabled = false;
    }
    document.getElementById(myBtn).css("background-image","none");
  }
  else
  {
    alert("select a tab");
  }
}
  
</script>
<script>
  function addToCart()
  {
//     jQuery.post('/cart/add.js', {
//        items: [
//          {
//            quantity: 1,
//            id: sessionStorage.getItem("1product")
//          }
//          {
//            quantity: 1,
//            id: sessionStorage.getItem("2product")
//          }
//          {
//            quantity: 1,
//            id: sessionStorage.getItem("3product")
//          }
//        ]
//      });
//      $.ajax({
//        type: 'POST', 
//        url: '/cart/add.js',
//        dataType: 'json', 
//        data: [{
//          id:31684450418748,quantity:1
//        }],
//        success: function(){
//              location.href="/cart";
//        }
//     });
    //alert()
    data: [
        {
          quantity: 1,
          id: "31866242236476"
        }
      ]
//     jQuery.post('/cart/add.js', {
//   	items: data
// });
    $.ajax({
    
      type:'POST',
      url:'/cart/add.js',
      items:data,
      success: function(data){
            alert("Data: " + data);
       },
      error: function(data){
            alert("Data: " + data);
       }
    })
    location.href="/cart";
  }
  
  
  $(document).on('click','.ad_to_cart',function(){
  var obj=$(this);
 
  $.ajax({
    type: 'POST',
    url: '/cart/add.js',
    data: {
      quantity: 1,
      id: $(this).attr("var_id")
    },
    dataType: 'json', 
    success: function (data) {  
          alert('Item added to cart');
    } 
  });
})
</script>


<div class="page-tpl">
  <div class="container">
    

    <header class="page-header">
      <h2 style="font-family: 'Acme', sans-serif; padding-top:5%">
        {% include 'multilang' with page.title %}
      </h2>      
    </header>

    {% comment %}
    Regular page content goes here.
    {% endcomment %}

<div class="" style="text-align:center">
  <button class="btn btn-outline-dark" onclick="openCity(event, 'London')" style="background-image:none;">1st Product</button>
  <button class="btn btn-outline-dark" id="Paris2" onclick="openCity(event, 'Paris')" style="background-image:none;" disabled>2nd Product</button>
  <button class="btn btn-outline-dark" id="Tokyo2" onclick="openCity(event, 'Tokyo')" style="background-image:none;" disabled>3rd Product</button>
</div>

<div id="London" class="tabcontent">
  <div class="row">
    {% for product in collections.all.products %}
      <div class="box col-lg-4 col-sm-6">
        <p style="text-align:center;padding-left:3%;padding-bottom:7%;font-family: 'Mulish', sans-serif; font-size:125%;color:#5e0c8c;">{{product.title}}</p>
      <img id="imagica" src="{{ product.featured_image | product_img_url: 'medium' }}" style=" padding-left:3%; padding-bottom:7%; margin-bottom:3%" onclick="selectImage({{ forloop.index }},{{ product.first_available_variant.id }})">
        <p style="padding-left:3%;text-align:center; padding-bottom:7%; font-family: 'Lato', sans-serif; font-size:100%;color:#5e0c8c;">MRP&nbsp;{{product.price | money}}</p>
    </div>  
    {% endfor %}
  </div>  
  <div style="padding-left:85%;">
  <button  class="btn btn-outline-dark" onclick="openCity(event, 'Paris')">Next</button>
  </div>
</div>

<div id="Paris" class="tabcontent">
  <div class="row">
    {% for product in collections.all.products %}
      <div class="box col-lg-4 col-sm-6">
        <p style="text-align:center;padding-left:3%;padding-bottom:7%;font-family: 'Mulish', sans-serif; font-size:125%;color:#5e0c8c;">{{product.title}}</p>
      <img id="imagica1" src="{{ product.featured_image | product_img_url: 'medium' }}" style=" padding-left:0px; padding-right:0px;" onclick="selectImage1({{ forloop.index }},{{product.first_available_variant.id}})">
        <p style="padding-left:3%;text-align:center; padding-bottom:7%; font-family: 'Lato', sans-serif; font-size:100%;color:#5e0c8c;">MRP&nbsp;{{product.price | money}}</p>
      </div>  
    {% endfor %}
  </div >
  <div style="padding-left:5%">
  <button style="float:left; " class="btn btn-outline-dark" onclick="openCity(event, 'London')">Previous</button>
  </div>
  <div style="padding-left:85%;">
  <button  class="btn btn-outline-dark" onclick="openCity(event, 'Tokyo')">Next</button>
  </div>
  </div>

<div id="Tokyo" class="tabcontent">
  <div class="row">
    {% for product in collections.all.products %}
      <div class="box col-lg-4 col-sm-6">
        <p style="text-align:center;padding-left:3%;padding-bottom:7%;font-family: 'Mulish', sans-serif; font-size:125%;color:#5e0c8c;">{{product.title}}</p>
      <img id="imagica2" src="{{ product.featured_image | product_img_url: 'medium' }}" style=" padding-left:0px; padding-right:0px;" onclick="selectImage2({{ forloop.index }},{{product.first_available_variant.id}})">       
        <p style="padding-left:3%;text-align:center; padding-bottom:7%; font-family: 'Lato', sans-serif; font-size:100%;color:#5e0c8c;">MRP&nbsp;{{product.price | money}}</p>
      </div>  
    {% endfor %}
  </div>
  <div style="padding-left:5%">
  <button style="float:left; " class="btn btn-outline-dark" onclick="openCity(event, 'Paris')">Previous</button>
  </div>
  <div style="padding-left:85%;">
  <a class="picon 123product" var_id="{sessionStorage.getItem("1product")}"><i class="fa fa-shopping-bag"></i></a>
  </div>
</div>

    {% if settings.enable_multilang and page.content contains '[lang2]' %}
    <div class="rte lang1">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    <div class="rte lang2">
      {{ page.content | split: '[lang2]' | last }}
    </div>
    {% else %}
    <div class="rte">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    {% endif %}
  </div>
</div>
